@page "/author/assigncomicstep1"
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Model.ViewModel.Story
@using StoriesProject.Services
@using StoriesProject.Shared.ComponentBase;
@using static StoriesProject.Model.Enum.DataType
@inject ITopicService _topicService;
@inject IStoriesService _storiesService;
@inherits AuthorBaseComponent
<html>

<head>
    <title>阅读历史 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_user.css?v=a19b47d">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/user.css?v=b5db955">

    <!-- start Dplus -->
    <!-- end Dplus -->
    <!--[if lt IE 9]>
      <script src="//static.mkzcdn.com/home/assets/script/libs/respond/respond.js?v=afc1984"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    * {
        box-sizing: content-box;
    }

    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }

    .user-right {
        float: right;
        width: 838px;
        margin: 20px 0 60px;
        border: 1px solid #DDD;
        min-height: 372px;
        background: #FFF;
    }

    .user-right {
        float: right;
        width: 838px;
        margin: 20px 0 60px;
        border: 1px solid #DDD;
        min-height: 372px;
        background: #FFF;
    }

        .user-right .user-right-top {
            width: 100%;
            border-bottom: 1px solid #DDD;
            height: 47px;
            overflow: hidden;
        }

            .user-right .user-right-top h3 {
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                font-size: 18px;
                font-weight: normal;
                float: left;
                line-height: 48px;
                margin-left: 15px;
                margin-top: 0;
            }

    .step-nav {
        height: 36px;
        margin: 32px 0;
        padding-left: 254px;
        line-height: 36px;
        font-size: 18px;
        color: #ccc;
    }

        .step-nav .active {
            color: #00b798;
        }

        .step-nav .step-itm {
            float: left;
            margin-right: 60px;
        }

        .step-nav .active .num {
            background: #00b798;
        }

        .step-nav .num {
            display: inline-block;
            width: 36px;
            height: 36px;
            font-size: 20px;
            text-align: center;
            line-height: 36px;
            color: #fff;
            border-radius: 18px;
            background: #ccc;
        }

        .step-nav .active {
            color: #00b798;
        }

        .step-nav .step-itm {
            float: left;
            margin-right: 60px;
        }

    .layui-input-block {
        margin-left: 140px;
        line-height: 38px;
        min-height: 36px;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .step-box {
        padding: 0 30px;
        float: left;
        width: 80%;
    }

    .layui-form-item {
        margin-bottom: 15px;
        clear: both;
    }

    .step-box .input-box .layui-form-label {
        width: 110px;
        font-size: 14px;
        color: #2a2a2a;
    }

    .layui-form-item:after {
        content: '\20';
        clear: both;
        display: block;
        height: 0;
    }


    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-form-label {
        position: relative;
    }

    label {
        cursor: default;
    }

    .step-box .input-box .layui-form-label i {
        color: #FF620E;
        display: inline-block;
        font-style: normal;
        box-sizing: content-box;
    }

    .layui-input-block .cover-y,
    .layui-input-block .cover-x {
        float: left;
        width: 90px;
        height: 120px;
        background: #f6f6f6;
        margin-right: 10px;
        position: relative;
    }

        .layui-input-block .cover-y > img,
        .layui-input-block .cover-x > img {
            width: 100%;
            height: 100%;
        }

    /*        .layui-input-block .cover-y .btn,
                            .layui-input-block .cover-x .btn {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 36px;
                                text-align: center;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.25);
                                cursor: pointer;
                            }
                    */
    .layui-input-block > .tip {
        line-height: 18px;
        font-size: 12px;
        color: #b4b4b4;
    }

    .layui-input-block .cover-y .btn,
    .layui-input-block .cover-x .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 36px;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .layui-input,
    .layui-textarea {
        display: block;
        width: 100%;
        padding-left: 10px;
    }

    .layui-input,
    .layui-select,
    .layui-textarea {
        height: 38px;
        line-height: 1.3;
        line-height: 38px\9;
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        border-radius: 2px;
        -webkit-transition: all .3s;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-input-block .ticai-list,
    .layui-input-block .update-list {
        float: left;
        margin-right: 20px;
    }

    .layui-rate,
    li {
        list-style: none;
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .layui-form-checkbox span {
        padding: 0 10px;
        font-size: 14px;
        border-radius: 2px 0 0 2px;
        background-color: #d2d2d2;
        color: #fff;
        overflow: hidden;
        height: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .step-box .input-box .protocol {
        overflow: hidden;
    }

        .step-box .input-box .protocol .layui-unselect {
            float: left;
        }

        .step-box .input-box .protocol a {
            text-decoration: underline;
            float: left;
            margin-top: 10px;
        }

    .layui-form-checkbox[lay-skin=primary] {
        height: auto !important;
        line-height: normal !important;
        border: none !important;
        margin-right: 0;
        padding-right: 0;
        background: 0 0;
    }

    .J_cover_y {
        width: 90px !important;
    }

    .btn {
        padding: 0px;
    }

    .layui-form input[type=radio], .layui-form select {
        display: inline-block !important;
    }

    .layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
        display: inline-block !important;
    }

    .layui-form input[type=radio], .layui-form input[type=checkbox] {
        scale:1.3;
        cursor:pointer;
    }

    .radio-target-object label{
        display: inline-block !important;
        font-size: 14px;
        margin-right: 20px;
    }
</style>


<body class="page-history">
    <!-- 头部 -->

    <AuthorHeader />
    <AlertComponent @ref="@alertComponent"></AlertComponent>


    <!-- 内容 -->
    <div class="main-container">
        <AuthorSideBar isSelected="3" />

        <!-- main-content -->
        <div class="user-right">
            <div class="user-right-top">
                <h3>Tạo tác phẩm mới</h3>
            </div>
            <!--步骤-->
            <div class="step-nav clearfix">
                <div class="step-itm active">
                    <span class="num">1</span>
                    <span>Tạo thông tin cơ bản</span>
                </div>
                <div class="step-itm">
                    <span class="num">2</span>
                    <span>Thêm chương mới</span>
                </div>
            </div>
            <!--步骤end-->
            <div class="step-box">
                <form class="input-box layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>Tên truyện: </label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required="" lay-verify="required"
                                   placeholder="Không cần có số, tối đa 15 từ" autocomplete="off" class="layui-input" @bind="story.Name">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>Bìa truyện</label>
                        <div class="layui-input-block">
                            <div class="cover-y">
                                <img id="previewImage" src="" alt="">
                                <InputFile OnChange="HandleFileSelected" id="img_input" class="J_cover_y" style="display:none" @ref="fileInput" />
                                <span class="btn J_cover_y" @onclick="() => OpenFilePicker()">Ảnh bìa</span>
                            </div>
                            <p class="tip">Kích thước đề xuất 600x800</p>
                            <p class="tip">Hỗ trợ jpg, png</p>
                            <p class="tip">Dung lượng 5MB</p>
                        </div>
                    </div>
                    @* <div class="layui-form-item">
                    <label class="layui-form-label"><i>*</i>Tác giả: </label>
                    <div class="layui-input-block">
                    <input type="text" name="title" required="" lay-verify="required"
                    placeholder="Không cần có số, tối đa 15 từ" autocomplete="off" class="layui-input" @bind="story.CreatedBy">
                    </div>
                    </div>  *@
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>Giới thiệu ngắn: </label>
                        <div class="layui-input-block">
                            <input type="text" name="feature" required="" lay-verify="required"
                                   placeholder="Giới thiệu ngắn sẽ xuất hiện trên trang chủ" autocomplete="off" class="layui-input" @bind="story.ShortDescription">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label"><i>*</i>Giới thiệu: </label>
                        <div class="layui-input-block">
                            <textarea name="content" required="" lay-verify="required"
                                      placeholder="Giới thiệt qua về tác phẩm để độc giả có thể hiểu được nội dung truyện"
                                      class="layui-textarea" @bind="story.Description"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>Chủ đề: </label>
                        <div class="layui-input-block theme-block">
                            <ul>
                                @if (listTopic != null && listTopic.Count() > 0)
                                {
                                    @for (int i = 0; i < listTopic.Count; i++)
                                    {
                                        var item = listTopic[i];
                                        <li class="ticai-list">
                                            <input lay-filter="theme" type="checkbox" name="theme_id" title="@item.Name"
                                                   lay-skin="primary" value="@item.Id" @onchange="ChangeTopicSelected" @ref="topicInput">
                                            <span style="font-size:14px">@item.Name</span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <label class="layui-form-label"><i>*</i>Đối tượng: </label>
                    <div class="layui-input-block radio-target-object">
                        <input type="radio" name="audience" value="1" id="audience1" @ref="targetObjectInput" @onchange="ChangeTargetObjectSelected" />
                        <label for="audience1" style="">Vị thành niên</label>
                        <input type="radio" name="audience" value="2" id="audience2" @ref="targetObjectInput" @onchange="ChangeTargetObjectSelected" />
                        <label for="audience2">Nữ giới</label>
                        <input type="radio" name="audience" value="3" id="audience3" @ref="targetObjectInput" @onchange="ChangeTargetObjectSelected" />
                        <label for="audience3">Nam giới</label>
                        <input type="radio" name="audience" value="4" id="audience4" @ref="targetObjectInput" @onchange="ChangeTargetObjectSelected" />
                        <label for="audience4">Thiếu nhi</label>
                    </div>
                    <div class="layui-form-item font-12 protocol">
                        <div class="layui-input-block" style="display:flex;align-items:center">
                            <input checked="" type="checkbox" name="protocol" lay-skin="primary" style="padding-top:10px">
                            <span style="margin-left:10px;font-size:14px">
                                Tôi đã đọc và chấp thuận
                            </span>
                            <a href="/help/10012/" target="_blank" style="margin:0px 10px;">Thảo thuận của comic hub</a>
                        </div>
                        
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button type="button" lay-filter="stepOne" class="layui-btn" @onclick="(() => ResgiterStory())">Tiếp theo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

@code {
    private StoryRegisterVM story { get; set; } = new StoryRegisterVM()
    {
        ListTopic = new List<Guid>()
    };
    private List<Topic> listTopic { get; set; }
    private string selectedAudience = "1"; // Giá trị mặc định của radio button
    private ElementReference topicInput;
    private ElementReference targetObjectInput;
    private IBrowserFile selectedFile;
    private InputFile fileInput;
    private AlertComponent alertComponent;

    private List<Guid> listTopicSelected { get; set; } = new List<Guid>();

    private async Task ResgiterStory()
    {

        if (story != null)
        {
            if (story.ListTopic.Count == 0)
            {
                story.ListTopic = null;
            }
            if (selectedFile == null)
            {
                alertComponent.Show("Bạn chưa chọn ảnh bìa truyện", "error");
            }
            else
            {
                var res = await _storiesService.CreateStoryByAuthor(selectedFile, story);

                if (res != null && res.IsSuccess)
                {
                    NavigateToUrl($"/author/assign-comic-step-2/{res.Data}");
                }
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        listTopic = await _topicService.GetAllTopic();
    }

    //protected override async Task HandleAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        listTopic = await _topicService.GetAllTopic();
    //        StateHasChanged();
    //    }
    //}

    // Phương thức xử lý sự kiện mở cửa sổ chọn file
    private async Task OpenFilePicker()
    {
        await InvokeVoidAsync("openFilePicker", fileInput.Element);
    }


    private async Task ChangeTopicSelected(ChangeEventArgs e)
    {
        var idTopic = await InvokeAsync<string>("getValue", topicInput);
        if (Guid.TryParse(idTopic, out Guid idTopicGuid))
        {
            if (e.Value is bool valueBool && !valueBool)
            {
                story.ListTopic.Remove(idTopicGuid);
            }
            else
            {
                story.ListTopic.Add(idTopicGuid);
            }

        }
    }

    private async Task ChangeTargetObjectSelected(ChangeEventArgs e)
    {
        var targetValue = await InvokeAsync<string>("getValue", targetObjectInput);
        if (TargetObject.TryParse(targetValue, out TargetObject targetValueEnum))
        {
            story.TargetObject = targetValueEnum;
        }
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(); // Nếu bạn muốn hỗ trợ chọn nhiều tệp tin

        // Trong trường hợp này, chọn một tệp tin duy nhất, vì vậy lấy tệp tin đầu tiên
        selectedFile = files.FirstOrDefault();
    }
}
