@page "/author/identify"
<html>

<head>
    <title>阅读历史 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_user.css?v=a19b47d">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/user.css?v=b5db955">

    <!-- start Dplus -->
    <!-- end Dplus -->
    <!--[if lt IE 9]>
      <script src="//static.mkzcdn.com/home/assets/script/libs/respond/respond.js?v=afc1984"></>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }

    .user-selecteds a {
        border-left: 4px solid #00B798;
        padding-left: 43px !important;
        background: #F8F8F8 !important;
        color: #00B798 !important;
    }

    a:hover {
        color: #00b798;
    }

    dl dd a:hover {
        border-left: 4px solid #00B798 !important;
        padding-left: 43px !important;
        background: #F8F8F8 !important;
        color: #00B798 !important;
    }

    .center_selected {
        color: #00b798;
    }

    .user-right {
        float: right;
        width: 838px;
        margin: 20px 0 60px;
        border: 1px solid #DDD;
        min-height: 372px;
        background: #FFF;
    }

        .user-right .user-right-top {
            width: 100%;
            border-bottom: 1px solid #DDD;
            height: 47px;
            overflow: hidden;
        }

    .identity-box {
        padding: 20px 30px;
        float: left;
    }

        .identity-box .caption {
            width: 100%;
            padding-bottom: 20px px;
            border-bottom: 1px solid #ddd;
            font-size: 12px;
            color: #666666;
            line-height: 20px;
        }

    .user-right .user-right-top h3 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-size: 18px;
        font-weight: normal;
        float: left;
        line-height: 48px;
        margin-left: 15px;
        margin-top: 0;
    }

    .identify-wait {
        color: #FFC238;
        background: #fff8eb;
    }

    .identify-no,
    .identify-wait,
    .identify-yes {
        padding: 5px 16px;
        border-radius: 50px;
        margin-top: 10px;
        font-size: 13px;
        float: left;
        margin-left: 15px;
    }

    .identity-box .caption span {
        color: #FF620E;
    }


    .identity-box .input-box {
        padding: 30px 0;
    }

    .layui-form-item {
        margin-bottom: 15px;
        clear: both;
    }


    .identity-box .input-box .layui-form-label {
        width: 110px;
        font-size: 14px;
        color: #2a2a2a;
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-card-body,
    .layui-card-header,
    .layui-form-label,
    .layui-form-mid,
    .layui-form-select,
    .layui-input-block,
    .layui-input-inline,
    .layui-textarea {
        position: relative;
    }

    label {
        cursor: default;
    }

    .identity-box .input-box .layui-form-label i {
        color: #FF620E;
        display: inline-block;
        font-style: normal;
        box-sizing: content-box;
    }

    .identity-box .input-box .layui-input-block {
        margin-left: 140px;
    }

        .identity-box .input-box .layui-input-block .subject-on {
            border: 1px solid #00B798;
            color: #00B798;
        }

        .identity-box .input-box .layui-input-block a {
            display: block;
            width: 150px;
            height: 34px;
            float: left;
            margin-right: 20px;
            line-height: 34px;
            font-size: 14px;
            text-align: center;
            color: #28292D;
            border: 1px solid #ddd;
            border-radius: 2px;
            position: relative;
            cursor: pointer;
        }

    .identity-box .input-box .layui-form-label {
        width: 110px;
        font-size: 14px;
        color: #2a2a2a;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .identity-box .input-box .layui-input-block .layui-input {
        width: 320px;
    }

    .layui-input,
    .layui-textarea {
        display: block;
        width: 100%;
        padding-left: 10px;
    }

    .layui-input,
    .layui-select,
    .layui-textarea {
        height: 38px;
        line-height: 1.3;
        line-height: 38px\9;
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        border-radius: 2px;
    }


    .layui-input {
        outline: 0;
        -webkit-appearance: none;
        transition: all .3s;
        -webkit-transition: all .3s;
        box-sizing: border-box;
    }


    input {
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        outline: 0;
    }



    .layui-form-item {
        margin-bottom: 15px;
        clear: both;
    }
</style>

<body class="page-history">
    <!-- 头部 -->

    <div class="header-user-wrapper author">
        <div class="main-container clearfix">
            <!-- logo -->
            <a href="/user/" class="header-logo">
                <img src="//static.mkzcdn.com/home/assets/images/header/pic_dzzx_logo.png?v=5d2ae5c" />
            </a>
            <!-- link -->
            <!-- <div class="nav-link"> -->
            <!-- <div class="sub-text">我是读者</div> -->
            <!-- <a href="/">返回客栈首页</a> -->
            <!-- </div> -->
            <!-- menu -->
            <ul class="nav-menu">
                <li><a rel="nofollow" href="/">Trang chủ truyện tranh</a></li>
                <li><a rel="nofollow" href="https://www.xiaoshuohui.com.cn/">Trung tâm tác giả</a></li>
            </ul>
            <!-- search -->
            <div class="fr">
                <!-- switch -->
                <ul class="switch-tab reader">
                    <!-- <a class="hl" rel="nofollow" href="/user/">读者</a> -->
                    <a rel="nofollow" href="/author/">Cá nhân</a>
                </ul>
                <!-- user-box -->
                <div class="j-header-avatar user-box">
                    <div class="user-avatar">
                        <a href="/user/">
                            <img class="j-user-avatar"
                                 src="//static.mkzcdn.com/home/assets/images/common/pic_login_defaulthead.png?v=83881ca" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 内容 -->
    <div class="main-container">
        <div class="aside-user">

            <dl class="aside-user--first">
                <dt class="center_selected">
                    <i class="iconfont icon-door"></i>
                    <a rel="nofollow" href="/user/">Trung tâm tác giả</a>
                </dt>
            </dl>
            <dl>
                <dt>
                    <i class="iconfont icon-book"></i>Quản lý công việc
                </dt>
                <dd class="user-selecteds">
                    <a rel="nofollow" href="/user/collection/">Đăng kí tác giả</a>
                </dd>
                <dd>
                    <a rel="nofollow" href="/user/collection/">Tác phẩm của tôi</a>
                </dd>
                <dd>
                    <a rel="nofollow" href="/user/history/">Tạo tác phẩm mới</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <i class="iconfont icon-data"></i>Thống kê
                </dt>
                <dd>
                    <a rel="nofollow" href="/user/task/">Thu nhập</a>
                </dd>
                <dd>
                    <a rel="nofollow" href="/shop/integral/">Khách hàng</a>
                </dd>
            </dl>
        </div>

        <!-- main-content -->
        <div class="user-right">
            <div class="user-right-top">
                <h3>Đăng kí tác giả</h3>
                <span class="identify-wait hide">审核中~请耐心等待</span>
                <span class="identify-yes hide">审核通过</span>
                <span class="identify-no hide"></span>
            </div>
            <div class="identity-box">

                <div class="caption">
                    Bằng cách điền thông tin chi tiết hơn và trình bày các tác phẩm có thể chứng minh tính độc đáo của bạn, bạn có
                    thể trở thành tác giả được chứng nhận sau khi được biên tập viên truyện tranh chuyên nghiệp xem xét. Xác nhận
                    tác giả là một trong những điều kiện cơ bản để tác giả rút tiền và tham gia vào các hoạt động khác nhau. Nếu
                    bạn có bất kỳ câu hỏi nào hãy liên hệ với chúng tôi <span>0338225827</span>。
                </div>
                <div class="input-box">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>Loại: </label>
                        <div class="layui-input-block">
                            <a class="subject-on person-btn" data-atype="person">Cá nhân<i></i></a>
                            <a class="company-btn" data-atype="company">Doanh nghiệp<i></i></a>
                        </div>
                    </div>
                    <!-- 个人 -->
                    <div class="personal">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>Họ tên: </label>
                            <div class="layui-input-block">
                                <input id="pName" type="text" name="title" required="" lay-verify="required"
                                       placeholder="Nhập họ và tên thật của bạn" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <!-- <div class="layui-form-item">
                          <label class="layui-form-label"><i>*</i>身份证号：</label>
                          <div class="layui-input-block">
                            <input id="pId" type="text" name="title" required="" lay-verify="required" placeholder="请输入身份证号"
                              autocomplete="off" class="layui-input">
                          </div>
                        </div> -->
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>Email: </label>
                            <div class="layui-input-block">
                                <input id="pQQ" type="text" name="title" required="" lay-verify="required"
                                       placeholder="Nhập email liên lạc của bạn" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>Số điện thoại: </label>
                            <div class="layui-input-block">
                                <input id="pTel" type="text" name="title" required="" lay-verify="required"
                                       placeholder="Vui lòng nhập số điện thoại" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>Thanh toán</label>
                            <div class="layui-input-block">
                                <a class="subject-on ali-btn">Viettel Money</a>
                                <a class="bank-btn">Thẻ ngân hàng</a>
                            </div>
                        </div>
                        <div class="bank-box">
                            <div class="layui-form-item">
                                <label class="layui-form-label"><i>*</i>Tên ngân hàng</label>
                                <div class="layui-input-block">
                                    <select id="pBank" name="bank" lay-verify="required" class="bank">
                                        <option value="">--Vui lòng chọn ngân hàng--</option>
                                        <option value="1">VP Bank</option>
                                        <option value="2">SCB Bank</option>
                                        <option value="3">MB Bank</option>

                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><i>*</i>Số thẻ</label>
                                <div class="layui-input-block">
                                    <input id="pSubBank" type="text" name="title" required="" lay-verify="required"
                                           placeholder="Vui lòng nhập số thẻ của bạn" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><i>*</i>Tài khoản</label>
                                <div class="layui-input-block">
                                    <input id="pBankNum" type="text" name="title" required="" lay-verify="required"
                                           placeholder="Vui lòng nhập số tài khoản của bạn" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="ali-box">
                          <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>支付宝帐号：</label>
                            <div class="layui-input-block">
                              <input id="pAliCount" type="text" name="title" required="" lay-verify="required"
                                placeholder="请输入支付宝帐号" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                        </div> -->
                    </div>

                    <!-- 企业 -->
                    <div class="company" style="display: none;">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>企业名称：</label>
                            <div class="layui-input-block">
                                <input id="cName" type="text" name="title" required="" lay-verify="required" placeholder="请输入企业名称"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>企业执照号：</label>
                            <div class="layui-input-block">
                                <input id="cId" type="text" name="title" required="" lay-verify="required" placeholder="请输入企业执照号"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>税务登记号：</label>
                            <div class="layui-input-block">
                                <input id="cTaxId" type="text" name="title" required="" lay-verify="required" placeholder="请输入税务登记号"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>联系QQ：</label>
                            <div class="layui-input-block">
                                <input id="cQQ" type="text" name="title" required="" lay-verify="required" placeholder="请输入联系QQ"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>联系电话：</label>
                            <div class="layui-input-block">
                                <input id="cTel" type="text" name="title" required="" lay-verify="required" placeholder="请输入联系电话"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>银行名称：</label>
                            <div class="layui-input-block">
                                <select id="cBankName" name="bank" lay-verify="required" class="bank">
                                    <option value="">--请选择银行--</option>
                                    <option value="1">中国银行</option>
                                    <option value="2">建设银行</option>
                                    <option value="3">农业银行</option>
                                    <option value="4">工商银行</option>
                                    <option value="5">民生银行</option>
                                    <option value="6">招商银行</option>
                                    <option value="7">华夏银行</option>
                                    <option value="8">交通银行</option>
                                    <option value="9">中国邮政储蓄银行</option>
                                    <option value="10">中信银行</option>
                                    <option value="11">中国光大银行</option>
                                    <option value="12">兴业银行</option>
                                    <option value="13">平安银行</option>
                                    <option value="14">浦发银行</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>支行名称：</label>
                            <div class="layui-input-block">
                                <input id="cSubBank" type="text" name="title" required="" lay-verify="required" placeholder="请输入支行名称"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i>*</i>银行卡帐号：</label>
                            <div class="layui-input-block">
                                <input id="cBankNum" type="text" name="title" required="" lay-verify="required" placeholder="请输入银行卡帐号"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <a id="submit">Xác nhận</a>
                            <!-- <a id="modi">修改</a> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*  <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/vendor/base_lib.js?v=e631876"></script>
    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layer/layer.js?v=6e80f0c"></script>
    <script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/sd/nch5/index.js?t=2015052012"></script>
    <!-- 国内使用 阿里云 滑动验证 --><!-- 若您的主要用户来源于海外，请替换使用下面的js资源 -->
    <!-- <script type="text/javascript" charset="utf-8" src="//aeis.alicdn.com/sd/nch5/index.js?t=2015052012"></script> -->
    <!-- <script src="https://g.alicdn.com/AWSC/AWSC/awsc.js"></script> -->

    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layui/layui.js?v=3320191"></script>
    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/page/user/history.js?v=7f36731"></script>
    <script>
    (function ()
    {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https')
    {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else
    {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
    })();
    </script>*@



</body>

</html>

@code {

}


@code {

}
