<style>
    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }
</style>
<div class="header-user-wrapper author">
    <div class="main-container clearfix">
        <!-- logo -->
        <a href="/user/" class="header-logo">
            <img src="//static.mkzcdn.com/home/assets/images/header/pic_dzzx_logo.png?v=5d2ae5c" />
        </a>
        <!-- link -->
        <!-- <div class="nav-link"> -->
        <!-- <div class="sub-text">我是读者</div> -->
        <!-- <a href="/">返回客栈首页</a> -->
        <!-- </div> -->
        <!-- menu -->
        <ul class="nav-menu">
            <li><a rel="nofollow" href="/">Trang chủ truyện tranh</a></li>
            <li><a rel="nofollow" href="/author/">Trung tâm tác giả</a></li>
        </ul>
        <!-- search -->
        <div class="fr">
            <!-- switch -->
            <ul class="switch-tab reader">
                <!-- <a class="hl" rel="nofollow" href="/user/">读者</a> -->
                <a rel="nofollow" href="/author/">Cá nhân</a>
            </ul>
            <!-- user-box -->
            <div class="j-header-avatar user-box">
                <div class="user-avatar">
                    <a href="/user/">
                        <img class="j-user-avatar"
                             src="//static.mkzcdn.com/home/assets/images/common/pic_login_defaulthead.png?v=83881ca" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
