<div class="footer-wrapper">
    <!-- footer-top -->
    <div class="container--response">
        <div class="footer-top clearfix">
            <div class="column-left column-33">
                <div class="column-box-center">
                    <a href="https://www.mkzhan.com/author/" class="pic-tg" rel="nofollow">
                        <img src="//static.mkzcdn.com/home/assets/images/footer/footer_tg.png?v=15232b4" alt="">
                    </a>
                    <div class="fl">
                        <p class="column-title"> Email：<a href="mailto:tougao@xiaomingtaiji.com">tougao@xiaomingtaiji.com</a></p>
                        <ul class="link-list">
                            <li>
                                <a href="https://www.mkzhan.com/help/10016.html" target="_blank" rel="nofollow">Cơ chế xét duyệt</a>
                            </li>
                            <li>
                                <a href="https://www.mkzhan.com/help/10015.html" target="_blank" rel="nofollow">Kí kết truyện tranh</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column-center column-33">
                <div class="column-box-center">
                    <p class="column-title">Liên hệ：</p>
                    <div class="fl">
                        <a class="icon-wx" href="javascript:;" rel="nofollow">
                            <div class="wx-qrcode"></div>
                        </a>
                        <a class="icon-wb" target="_blank" href="http://weibo.com/mankezhan" rel="nofollow">
                            <div class="wb-qrcode"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column-right column-33">
                <div class="column-box-center">
                    <div class="fl online-link">
                        <p class="column-title">Facebook：</p>
                        <a class="pic-kf" href="tencent://message/?uin=204528691&amp;Site=www.mkzhan.com&amp;Menu=yes"
                           target="_blank" rel="nofollow">
                            <img src="//static.mkzcdn.com/home/assets/images/footer/footer_kf.png?v=e418bcb" alt="">
                        </a>
                    </div>
                    <div class="fl">
                        <p class="column-title qq-text">Instagram：</p>
                        <a target="_blank"
                           href="//shang.qq.com/wpa/qunwpa?idkey=a34447c7f6028298534b61c9295d12b1a273156b9674475e48ee15697f61c6d4"
                           class="pic-qq" rel="nofollow">
                            <img src="//static.mkzcdn.com/home/assets/images/footer/footer_qq.png?v=626a9ca" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="container--response">
        <div class="footer-bottom">
            <ul class="footer-link clearfix">
                <li>
                    <a href="https://www.mkzhan.com/help/10001.html" target="_blank" rel="nofollow">Trung tâm trợ giúp</a>
                </li>
                <li>
                    <a href="https://www.mkzhan.com/about/" target="_blank" rel="nofollow">Giới thiệu</a>
                </li>
                <li>
                    <a href="https://www.mkzhan.com/contact/" target="_blank" rel="nofollow">Liên hệ với chúng tôi</a>
                </li>
                <li>
                    <a href="https://www.mkzhan.com/legal_notice/" target="_blank" rel="nofollow">Tuyên bố pháp lý</a>
                </li>
            </ul>
            <p>
                <span>Số tổng đài：027-59327268</span>
                <span>
                    Số di động：<a href="tencent://message/?uin=204528691&amp;Site=www.mkzhan.com&amp;Menu=yes" target="_blank"
                                  rel="nofollow">204528691</a>
                </span>
                <span>Email：<a href="mailto:jubao@xiaomingtaiji.com">jubao@xiaomingtaiji.com</a></span>
                Địa chỉ：Số x - Đường x - Quận x - Thành phố x
            </p>
            <p>
                Giấy phép：<a href="https://static.mkzcdn.com/home/assets/images/xukezheng.jpg" target="_blank"
                             rel="nofollow">Giấy phép kinh doanh văn hóa Internet: Ewangwen (2019) số 5588-345</a>
            </p>
            <p>
                <span>Copyright ©2010-2023<a href="https://www.mkzhan.com/" rel="nofollow">ComicHub</a></span>
                <span><a href="http://www.xiaomingtaiji.com/" target="_blank" rel="nofollow">Công ty x - tổ chức y</a></span>
                Đã đăng kí bản quyền<a href="https://v.yunaq.com/certificate?domain=www.mkzhan.com" rel="nofollow" target="_blank">
                    <img class="pic-copyright"
                         src="//static.mkzcdn.com/home/assets/images/footer/footer_copyright.png?v=2f3e4cb">
                </a>
            </p>
        </div>
    </div>
</div>
@code {

}
