@page "/user/collection"
@using Microsoft.JSInterop
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Services;
@using StoriesProject.Shared.ComponentBase;
@inject IStoriesService _storiesService;
@inject IJSRuntime _js;
@inject NavigationManager _navigationManager;
@inherits AuthorBaseComponent
<html>
<head>
    <title>我的收藏 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_user.css?v=a19b47d">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/user.css?v=b5db955">



    <!-- start Dplus -->
</head>
<style>
    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }
</style>

<body class="page-collection">
    <!-- 头部 -->

    <UserHeader />


    <!-- 内容 -->
    <div class="main-container">
        <UserSideBar isSelected=1/>

        <!-- main-content -->
        <div class="main-content--aside">
            <!-- title -->
            <div class="main-content_title">
                <h3>Bộ sưu tập</h3>
                <div class="main-content_subtitle">
                    Tổng cộng<strong class="j-collection-count">@(listFavoritesStory != null ? listFavoritesStory.Count : 0)</strong>Tác phẩm
                </div>
                <!-- toolbox -->
                <div class="main-content__title--toolbox">
                    <div class="j-collection-toolbox clear-btn">
                        <i class="iconfont icon-clearlist"></i> 整理收藏
                    </div>
                    <div class="j-collection-feature toolbox-btn layui-form hide">
                        <div class="layui-input-block">
                            <input type="checkbox" name="select-all" lay-skin="primary" lay-filter="select-all" title="全选">
                        </div>
                        <div class="btn-group">
                            <span class="j-collection-delete delete-btn delete-btn--disable">删除收藏</span>
                            <span class="j-collection-cancel cancel-btn">取消</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comic-list -->
            <div class="j-collection-list main-content__comic-list">
                <!-- <script id="user_collection_list" type="text/html"> -->
                <ul class="user-comic-list">
                    @if (listFavoritesStory != null && listFavoritesStory.Count > 0)
                    {
                        @foreach (var item in listFavoritesStory)
                        {
                            <li class="user-comic-item" @onclick="(() => NavigateToDetails(item.Id))">
                                <div class="j-item-select user-comic-item__select">
                                    <i class="pic-select"></i>
                                </div>
                                <a class="user-comic-item__cover" href="#">
                                    <i class="pic-comic-update"></i>
                                    <i class="pic-comic-off"></i>
                                    <img src="https://oss.mkzcdn.com/comic/cover/20231019/6530a23275954-399x533.jpg!cover-400">
                                </a>
                                <div class="user-comic-item__detail">
                                    <p class="user-comic-item--name">
                                        <a class="text-overflow" >@item.Name</a>
                                    </p>
                                    <p class="user-comic-item--text user-comic-item--latest">
                                        <a class="text-overflow--gray">@item.Description</a>
                                    </p>
                                    @* <p class="user-comic-item--text">
                                        <a class="text-overflow--gray" href="/{{d[i].comic_id}}/{{d[i].read_chapter_id}}.html"
                                           target="_blank">Đang đọc: Title của chapter</a>
                                    </p> *@
                                </div>
                            </li>
                        }
                        
                    }
                    else
                    {
                        <div class="no-collection"></div>
                    }
                </ul>
            </div>


            <!-- pagination -->
            <div class="pagination--center" id="collection-pagination"></div>
        </div>

    </div>

    @*  <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/vendor/base_lib.js?v=e631876"></script>
    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layer/layer.js?v=6e80f0c"></script>
    <script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/sd/nch5/index.js?t=2015052012"></script>

    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layui/layui.js?v=3320191"></script>
    <script type="text/javascript">
    seajs.use(['assets/script/modules/httpApi/httpApi'], function (httpApi)
    {
    layui.use(['form', 'laypage', 'laytpl'], function ()
    {
    var form = layui.form,
    laypage = layui.laypage,
    laytpl = layui.laytpl;

    var $count = $('.j-collection-count'), // 收藏数
    $list = $('.j-collection-list'), // 收藏列表
    $tpl_list = $('#user_collection_list'), // 渲染模板
    $pagination = $('#collection-pagination'), // 分页
    $toolbox = $('.j-collection-toolbox'), // 工具栏
    $btn_delete = $('.j-collection-delete'), // 工具栏 - 删除按钮
    $btn_cancel = $('.j-collection-cancel');  // 工具栏 - 取消按钮

    var collection_params = {
    page_num: 1,
    page_size: 10
    };

    // 渲染收藏列表
    function renderCollectionList(currentPageNum)
    {
    collection_params.page_num = currentPageNum;
    // 请求收藏列表数据
    return httpApi.comic
    .collectionLists(collection_params)
    .done(function (res)
    {
    if (res.code == 200)
    {
    var count = res.data.count;
    // 渲染收藏数
    $count.text(count);
    // 渲染模板
    laytpl($tpl_list.html()).render(res.data.list, function (result)
    {
    $list.html(result);
    });
    }
    });
    }

    // 渲染分页
    function renderPagination(count)
    {
    laypage.render({
    elem: $pagination,
    count: count,
    theme: 'mkz',
    prev: '<',
    next: '>',
    limit: 10,
    jump: function (obj, first)
    {
    if (!first)
    {
    renderCollectionList(obj.curr)
    .then(overlayHandle)
    .then(bindHandle);
    }
    }
    });
    }

    // 初始化分页
    function initPagination()
    {
    return renderCollectionList(1).then(function (res)
    {
    var count = res.data.count;
    if (count <= collection_params.page_size)
    {
    $pagination.hide();
    } else
    {
    $pagination.show();
    }
    if (count !== 0)
    {
    renderPagination(count);
    bindHandle();
    }
    });
    }

    // 选择状态
    function itemSelectStatus()
    {
    $list
    .find('.j-item-select')
    .addClass('user-comic-item--selected')
    .show();
    }

    // 取消状态
    function itemCancelStatus()
    {
    $list.find('.j-item-select').removeClass('user-comic-item--selected');
    }

    // 是否添加遮罩层
    function overlayHandle()
    {
    if ($('.j-collection-feature').is(':visible'))
    {
    $list.find('.j-item-select').show();
    // 如果选中状态，则改变所有为选中
    if ($('input[name="select-all"]').is(':checked'))
    {
    itemSelectStatus();
    }
    }
    }

    // checkbox事件
    function checkboxHandle(data)
    {
    if (data.elem.checked)
    {
    $(data.elem).attr('checked', true);
    itemSelectStatus();
    } else
    {
    $(data.elem).attr('checked', false);
    itemCancelStatus();
    }
    deleteBtnHandle();
    }

    // 删除事件
    function deleteHandle()
    {
    // 如果禁用状态则不处理
    if ($btn_delete.hasClass('delete-btn--disable')) return;
    layer.open({
    content: '亲，确定要取消收藏吗？',
    btn: ['确定', '取消'],
    yes: function (index)
    {
    layer.close(index);
    httpApi.comic.collectionCancel({
    comic_ids: getSelectIds()
    })
    .done(function (res)
    {
    if (res.code == 200)
    {
    layer.msg(res.message, {
    end: function ()
    {
    window.location.reload();
    }
    });
    }
    });
    }
    });
    }

    // 取消事件
    function cancelHandle()
    {
    $('.j-collection-feature').hide();
    $toolbox.show();
    $list.find('.j-item-select').fadeOut();
    itemCancelStatus();
    $('input[name="select-all"]').attr('checked', false);
    form.render('checkbox');
    }

    // 获取选中漫画的id
    function getSelectIds()
    {
    var _comicids = [];
    $('.user-comic-item--selected').each(function (idx, ele)
    {
    _comicids.push($(ele).data('comic'));
    });
    return _comicids.join(',');
    }

    // 是否允许删除
    function deleteBtnHandle()
    {
    if ($('.user-comic-item--selected').length > 0)
    {
    $btn_delete.removeClass('delete-btn--disable');
    } else
    {
    $btn_delete.addClass('delete-btn--disable');
    }
    }

    // 绑定事件
    function bindHandle()
    {
    // toolbox
    $toolbox.on('click', function ()
    {
    $list.find('.j-item-select').fadeIn();
    $(this).hide();
    $('.j-collection-feature').show();
    });
    form.on('checkbox(select-all)', checkboxHandle);
    $btn_delete.on('click', deleteHandle);
    $btn_cancel.on('click', cancelHandle);
    // 选择事件
    $('.j-item-select').on('click', function ()
    {
    $(this).toggleClass('user-comic-item--selected');
    deleteBtnHandle();
    });
    }

    // 初始化执行方法
    initPagination();
    });
    });
    </script>
    <script>
    (function ()
    {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https')
    {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else
    {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
    })();
    </script>*@



</body>

</html>
@code {
    private List<StoryAccountGeneric> listFavoritesStory { get; set; }
    private Guid detailID { get; set; }

    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            listFavoritesStory = await _storiesService.GetFavoriteStory();
            StateHasChanged();
        }
    }

    private void NavigateToDetails(Guid detailId)
    {
        _navigationManager.NavigateTo($"/details/{detailId}");
    }
}
