@page "/detail"

<html>

<head>
    <title>她来了，请趴下_她来了，请趴下漫画_她来了，请趴下漫画全集在线阅读 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="她来了，请趴下,她来了，请趴下漫画,她来了，请趴下漫画全集,她来了，请趴下漫画免费阅读,她来了，请趴下漫画下载,漫画大全,好看的漫画">
    <meta name="description"
          content="她来了，请趴下漫画最新章节免费在线阅读。18线演员一朝落海，归来时性情大变，原本软弱可欺的她突然成了令人闻风丧胆的狠辣杀神。从演技辣眼到影后附身，各方大佬竟对她毕恭毕敬……潜规则？不如问问买下你们公司多少钱；影后？我只是玩玩，不小心包揽大奖">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon">
    <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico">

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">


    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/home.css?v=c05d384">

    <!-- start Dplus -->
    <!-- <script src="https://zz.bdstatic.com/linksubmit/push.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="//w.cnzz.com/dplus.php?id=1262045698"></script>
    <script
      type="text/javascript">!function (a, b) { if (!b.__SV) { var c, d, e, f; window.dplus = b, b._i = [], b.init = function (a, c, d) { function g(a, b) { var c = b.split("."); 2 == c.length && (a = a[c[0]], b = c[1]), a[b] = function () { a.push([b].concat(Array.prototype.slice.call(arguments, 0))) } } var h = b; for ("undefined" != typeof d ? h = b[d] = [] : d = "dplus", h.people = h.people || [], h.toString = function (a) { var b = "dplus"; return "dplus" !== d && (b += "." + d), a || (b += " (stub)"), b }, h.people.toString = function () { return h.toString(1) + ".people (stub)" }, e = "disable track track_links track_forms register unregister get_property identify clear set_config get_config get_distinct_id track_pageview register_once track_with_tag time_event people.set people.unset people.delete_user".split(" "), f = 0; f < e.length; f++)g(h, e[f]); b._i.push([a, c, d]) }, b.__SV = 1.1, c = a.createElement("script"), c.type = "text/javascript", c.charset = "utf-8", c.async = !0, c.src = "//w.cnzz.com/dplus.php?id=1262045698", d = a.getElementsByTagName("script")[0], d.parentNode.insertBefore(c, d) } }(document, window.dplus || []), dplus.init("1262045698");</script> -->
    <!-- end Dplus -->
    <!--[if lt IE 9]>
      <script src="//static.mkzcdn.com/home/assets/script/libs/respond/respond.js?v=afc1984"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://static.mkzcdn.com/home/assets/script/libs/layer/theme/default/layer.css?v=3.1.1"
          id="layuicss-layer">
    <link rel="stylesheet"
          href="//static.mkzcdn.com/home/assets/script/libs/share/static/api/css/share_style0_16.css?v=6aba13f0.css">
    <style>
        .de-container {
            float: none;
            margin: 0 auto;
        }

        /*# Thêm vào*/
        .in-header__nav .nav-item {
            width: auto;
            font-size: 16px;
        }

        .in-header__nav .underline {
            display: none;
            position: absolute;
            left: 7px;
            bottom: -3px;
            width: 50px;
            height: 3px;
            background: #ff620e;
            border-radius: 9px;
        }

        .button_config {
            float: left;
            width: 80px;
            height: 40px;
            font-size: 13px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            background-color: #ff620e;
            font-weight: bold;
        }

        .intro-total {
            display: none;
            opacity: 0;
            transition: opacity 1s ease;
            /* Thời gian chuyển đổi opacity */
        }

        /* Khi hover vào .show, thay đổi giá trị của .intro-total */
        .show:hover + .intro-total {
            display: block;
            opacity: 1;
        }

        .de-info__box {
            width: 100%;
            min-height: 350px;
            min-height: 350px;
        }

            .de-info__box .comic-handles {
                position: absolute;
            }

        .de-user-handle {
            position: absolute;
            right: 30px;
        }
    </style>
</head>

<body class="p-detail" data-feed="104" data-new-gr-c-s-check-loaded="14.1157.0" data-gr-ext-installed="">
    <div style="display:none;">
        <img src="https://static.mkzcdn.com/home/assets/images/common/app_logo.png">
    </div>

    <div class="de-info-wr" data-price="24" data-is_vip="1">
        <div class="de-info__bg"
             style="background-image: url('https://oss.mkzcdn.com/comic/cover/20210624/60d3da10819ac-750x999.png!cover-400');">
        </div>
        <div class="de-info__overlay">
            <div class="overlay-bottom"></div>
        </div>
        <div class="container--response">
            <div class="de-info__box">
                <div class="de-info__cover">
                    <img class="lazy"
                         src="https://oss.mkzcdn.com/comic/cover/20210624/60d3da10819ac-750x999.png!cover-400"
                         data-src="https://oss.mkzcdn.com/comic/cover/20210624/60d3da10819ac-750x999.png!cover-400" alt="她来了，请趴下"
                         style="display: inline-block;">
                </div>
                <p class="comic-title j-comic-title">Quay về quá khứ</p>
                <div class="comic-author">
                    <a href="/author/12527029.html">
                        <img class="avatar"
                             src="https://oss.mkzcdn.com/default/member/avatar/1.jpg!cover-200" alt="飒飒动漫"
                             onerror="javascript:this.src='https://static.mkzcdn.com/home/assets/images/home/pic_login_defaulthead.png';">
                    </a>
                    <span class="name"><a href="/author/12527029.html">Trần Vinh</a></span>
                    <span>|</span>
                    <span><a href="/author/12527029.html">25 tác phẩm</a></span>
                </div>
                <div class="comic-status">
                    <span class="text">Chủ đề: <b>Xuyên không</b></span>
                    <span class="text"></span> Lượt lưu: <b>19 000 người</b>
                </div>
                <div class="comic-intro">
                    <span class="title">Giói thiệu: </span>
                    <p class="intro">

                        Một nữ diễn viên tầm thường từng bị vùi dập, trở về với tinh thần biến đổi. Từ một người dễ bị bắt nạt, cô
                        bất ngờ trở thành một kẻ tàn nhẫn đáng sợ. Từ diễn xuất kém cỏi đến trở thành nữ hoàng điện ảnh, các quý tửu
                        phải tôn trọng cô... Đấu trí? Chỉ cần hỏi xem ông muốn mua công ty của bạn với giá bao nhiêu; nữ hoàng? Chỉ
                        là trò chơi, cô ta vô tình giành được giải thưởng lớn; trừng phạt kẻ xấu? Đó là điều cô ta tốt nhất, nhưng
                        đừng quá yếu đuối. Trở lại dưới danh xưng của Thần Chết, nữ hoàng điện ảnh sẽ dẫn dắt bạn trong cuộc trừng
                        phạt và bay lượn! Psst, cô ấy đang đến, hãy nằm xuống.
                    </p>
                    <p class="show"><span class="txt">Chi tiết</span> <i class="iconfont"></i></p>
                    <p class="intro-total">
                        Một nữ diễn viên tầm thường từng bị vùi dập, trở về với tinh thần biến đổi. Từ một người dễ bị bắt nạt, cô
                        bất ngờ trở thành một kẻ tàn nhẫn đáng sợ. Từ diễn xuất kém cỏi đến trở thành nữ hoàng điện ảnh, các quý tửu
                        phải tôn trọng cô... Đấu trí? Chỉ cần hỏi xem ông muốn mua công ty của bạn với giá bao nhiêu; nữ hoàng? Chỉ
                        là trò chơi, cô ta vô tình giành được giải thưởng lớn; trừng phạt kẻ xấu? Đó là điều cô ta tốt nhất, nhưng
                        đừng quá yếu đuối. Trở lại dưới danh xưng của Thần Chết, nữ hoàng điện ảnh sẽ dẫn dắt bạn trong cuộc trừng
                        phạt và bay lượn! Psst, cô ấy đang đến, hãy nằm xuống.
                    </p>
                    <p></p>
                </div>
                <div class="comic-handles clearfix">
                    <a class="btn--read" href="/215599/901786.html">
                        <i class="icon-de-read"></i>
                        <span class="txt1">Đọc tiếp</span>
                    </a> <a class="btn--collect j-user-collect collected" href="javascript:void(0);">
                        <i class="icon-de-coll_hl"></i>
                        <i class="icon-de-coll"></i>
                        <span class="txt1">Đã lưu</span>
                        <span class="txt2">Đánh đấu</span>
                    </a>
                </div>
                <!-- <div class="de-rate-wr">
                  <div class="rate-handle layui-inline" data-score="97">
                    <ul class="layui-rate">
                      <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                      <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                      <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                      <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                      <li><i class="layui-icon layui-icon-rate-half"></i></li>
                    </ul><span class="layui-inline">9.7</span>
                  </div>
                  <p class="rate-count">（<span class="num">4933</span>人评价）</p>
                </div> -->
                <div class="de-user-handle">
                    <a class="btn--ticket" href="javascript:void(0);">
                        <i class="icon-de-ticket "></i>
                        Độc giả: 200.000 người
                    </a>
                    <!-- <a class="btn--gold" href="javascript:void(0);"><i class="icon-de-gold "></i>
                      打赏(10.14万)
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container--response de-container-wr clearfix">
        <div class="de-container">
            <div class="de-chapter">
                <div class="de-chapter__title">
                    <span>Chapter</span>
                    <span class="update-time">Số tập: 100 chapters</span>
                    <div class="btn--sort" style="display: block;">
                        <span class="dx"><i class="iconfont icon-sortdown"></i> Mới⇾Cũ</span>
                        <span class="zx"><i class="iconfont icon-sortup"></i> Cũ⇽Mới</span>
                    </div>
                </div>
                <div class="chapter__list clearfix">
                    <ul class="chapter__list-box clearfix hide" style="display: block; @(isShow ? "overflow: visible; height: auto;" : "overflow: hidden; height: 302px;")">
                        <li class="j-chapter-item chapter__item id-948508">
                            <a class="j-chapter-link" data-hreflink="/215599/948508.html" data-chapterid="948508">
                                <i class="vip-tag iconfont icon-ic_readlist_vip1"></i> 第118话 百兽狂奔1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-948510">
                            <a class="j-chapter-link" data-hreflink="/215599/948510.html" data-chapterid="948510">
                                <i class="vip-tag iconfont icon-ic_readlist_vip1"></i> 第117话 暗潮涌动4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-947620">
                            <a class="j-chapter-link" data-hreflink="/215599/947620.html" data-chapterid="947620">
                                第116话 暗潮涌动3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-947538">
                            <a class="j-chapter-link" data-hreflink="/215599/947538.html" data-chapterid="947538">
                                第115话 暗潮涌动2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-947474">
                            <a class="j-chapter-link" data-hreflink="/215599/947474.html" data-chapterid="947474">
                                第114话 暗潮涌动1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-947394">
                            <a class="j-chapter-link" data-hreflink="/215599/947394.html" data-chapterid="947394">
                                第113话 玩的就是心跳4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-945936">
                            <a class="j-chapter-link" data-hreflink="/215599/945936.html" data-chapterid="945936">
                                第112话 玩的就是心跳3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-945934">
                            <a class="j-chapter-link" data-hreflink="/215599/945934.html" data-chapterid="945934">
                                第111话 玩的就是心跳2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-945933">
                            <a class="j-chapter-link" data-hreflink="/215599/945933.html" data-chapterid="945933">
                                第110话 玩的就是心跳1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-946131">
                            <a class="j-chapter-link" data-hreflink="/215599/946131.html" data-chapterid="946131">
                                特别番外2 吊打白莲花
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-945244">
                            <a class="j-chapter-link" data-hreflink="/215599/945244.html" data-chapterid="945244">
                                第109话 什么是大佬3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-945061">
                            <a class="j-chapter-link" data-hreflink="/215599/945061.html" data-chapterid="945061">
                                第108话 什么是大佬2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-945062">
                            <a class="j-chapter-link" data-hreflink="/215599/945062.html" data-chapterid="945062">
                                第107话 什么是大佬1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943786">
                            <a class="j-chapter-link" data-hreflink="/215599/943786.html" data-chapterid="943786">
                                第106话 装X的正确方式3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943784">
                            <a class="j-chapter-link" data-hreflink="/215599/943784.html" data-chapterid="943784">
                                第105话 装X的正确方式2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943783">
                            <a class="j-chapter-link" data-hreflink="/215599/943783.html" data-chapterid="943783">
                                第104话 装X的正确方式1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943785">
                            <a class="j-chapter-link" data-hreflink="/215599/943785.html" data-chapterid="943785">
                                情人节番外
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943341">
                            <a class="j-chapter-link" data-hreflink="/215599/943341.html" data-chapterid="943341">
                                第103话 挑选礼物3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943339">
                            <a class="j-chapter-link" data-hreflink="/215599/943339.html" data-chapterid="943339">
                                第102话 挑选礼物2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943340">
                            <a class="j-chapter-link" data-hreflink="/215599/943340.html" data-chapterid="943340">
                                第101话 挑选礼物1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-943338">
                            <a class="j-chapter-link" data-hreflink="/215599/943338.html" data-chapterid="943338">
                                第100话 看星星3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-941877">
                            <a class="j-chapter-link" data-hreflink="/215599/941877.html" data-chapterid="941877">
                                第99话 看星星2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-941878">
                            <a class="j-chapter-link" data-hreflink="/215599/941878.html" data-chapterid="941878">
                                第98话 看星星1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-941691">
                            <a class="j-chapter-link" data-hreflink="/215599/941691.html" data-chapterid="941691">
                                第97话 舆论风暴3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-941690">
                            <a class="j-chapter-link" data-hreflink="/215599/941690.html" data-chapterid="941690">
                                第96话 舆论风暴2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-941692">
                            <a class="j-chapter-link" data-hreflink="/215599/941692.html" data-chapterid="941692">
                                第95话 舆论风暴1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-940779">
                            <a class="j-chapter-link" data-hreflink="/215599/940779.html" data-chapterid="940779">
                                第94话 出人意料3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-940216">
                            <a class="j-chapter-link" data-hreflink="/215599/940216.html" data-chapterid="940216">
                                第93话 出人意料2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-940215">
                            <a class="j-chapter-link" data-hreflink="/215599/940215.html" data-chapterid="940215">
                                第92话 出人意料1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-939881">
                            <a class="j-chapter-link" data-hreflink="/215599/939881.html" data-chapterid="939881">
                                第91话 节目分组4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-938594">
                            <a class="j-chapter-link" data-hreflink="/215599/938594.html" data-chapterid="938594">
                                第90话 节目分组3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-938597">
                            <a class="j-chapter-link" data-hreflink="/215599/938597.html" data-chapterid="938597">
                                第89话 节目分组2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-937882">
                            <a class="j-chapter-link" data-hreflink="/215599/937882.html" data-chapterid="937882">
                                第88话 节目分组1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-937859">
                            <a class="j-chapter-link" data-hreflink="/215599/937859.html" data-chapterid="937859">
                                第87话 周韵仪的目标3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-937766">
                            <a class="j-chapter-link" data-hreflink="/215599/937766.html" data-chapterid="937766">
                                第86话 周韵仪的目标2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-937599">
                            <a class="j-chapter-link" data-hreflink="/215599/937599.html" data-chapterid="937599">
                                第85话 周韵仪的目标1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-937490">
                            <a class="j-chapter-link" data-hreflink="/215599/937490.html" data-chapterid="937490">
                                第84话 综艺嘉宾3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-936516">
                            <a class="j-chapter-link" data-hreflink="/215599/936516.html" data-chapterid="936516">
                                第83话 综艺嘉宾2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-936506">
                            <a class="j-chapter-link" data-hreflink="/215599/936506.html" data-chapterid="936506">
                                第82话 综艺嘉宾1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-934074">
                            <a class="j-chapter-link" data-hreflink="/215599/934074.html" data-chapterid="934074">
                                第81话 突出重围4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-934038">
                            <a class="j-chapter-link" data-hreflink="/215599/934038.html" data-chapterid="934038">
                                第80话 突出重围3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-934036">
                            <a class="j-chapter-link" data-hreflink="/215599/934036.html" data-chapterid="934036">
                                圣诞贺图
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-934037">
                            <a class="j-chapter-link" data-hreflink="/215599/934037.html" data-chapterid="934037">
                                第79话 突出重围2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-933240">
                            <a class="j-chapter-link" data-hreflink="/215599/933240.html" data-chapterid="933240">
                                第78话 突出重围1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-932799">
                            <a class="j-chapter-link" data-hreflink="/215599/932799.html" data-chapterid="932799">
                                第77话 竞拍获胜3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-931575">
                            <a class="j-chapter-link" data-hreflink="/215599/931575.html" data-chapterid="931575">
                                第76话 竞拍获胜2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-930741">
                            <a class="j-chapter-link" data-hreflink="/215599/930741.html" data-chapterid="930741">
                                第75话 竞拍获胜1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-930618">
                            <a class="j-chapter-link" data-hreflink="/215599/930618.html" data-chapterid="930618">
                                第74话 履行约定4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-930619">
                            <a class="j-chapter-link" data-hreflink="/215599/930619.html" data-chapterid="930619">
                                第73话 履行约定3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-930050">
                            <a class="j-chapter-link" data-hreflink="/215599/930050.html" data-chapterid="930050">
                                第72话 履行约定2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-930049">
                            <a class="j-chapter-link" data-hreflink="/215599/930049.html" data-chapterid="930049">
                                第71话 履行约定1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-929439">
                            <a class="j-chapter-link" data-hreflink="/215599/929439.html" data-chapterid="929439">
                                第70话 再遇4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-928871">
                            <a class="j-chapter-link" data-hreflink="/215599/928871.html" data-chapterid="928871">
                                第69话 再遇3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-928870">
                            <a class="j-chapter-link" data-hreflink="/215599/928870.html" data-chapterid="928870">
                                第68话 再遇2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-928592">
                            <a class="j-chapter-link" data-hreflink="/215599/928592.html" data-chapterid="928592">
                                第67话 再遇1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-928276">
                            <a class="j-chapter-link" data-hreflink="/215599/928276.html" data-chapterid="928276">
                                第66话 狗咬狗3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-927326">
                            <a class="j-chapter-link" data-hreflink="/215599/927326.html" data-chapterid="927326">
                                第65话 狗咬狗2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-927325">
                            <a class="j-chapter-link" data-hreflink="/215599/927325.html" data-chapterid="927325">
                                第64话 狗咬狗1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-926884">
                            <a class="j-chapter-link" data-hreflink="/215599/926884.html" data-chapterid="926884">
                                第63话 反转3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-926696">
                            <a class="j-chapter-link" data-hreflink="/215599/926696.html" data-chapterid="926696">
                                第62话 反转2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-926556">
                            <a class="j-chapter-link" data-hreflink="/215599/926556.html" data-chapterid="926556">
                                第61话 反转1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-926002">
                            <a class="j-chapter-link" data-hreflink="/215599/926002.html" data-chapterid="926002">
                                第60话 深入魔窟3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-925403">
                            <a class="j-chapter-link" data-hreflink="/215599/925403.html" data-chapterid="925403">
                                第59话 深入魔窟2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-925404">
                            <a class="j-chapter-link" data-hreflink="/215599/925404.html" data-chapterid="925404">
                                第58话 深入魔窟1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-924813">
                            <a class="j-chapter-link" data-hreflink="/215599/924813.html" data-chapterid="924813">
                                第57话 打脸白莲花3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-924984">
                            <a class="j-chapter-link" data-hreflink="/215599/924984.html" data-chapterid="924984">
                                万圣节番外
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-924313">
                            <a class="j-chapter-link" data-hreflink="/215599/924313.html" data-chapterid="924313">
                                第56话 打脸白莲花2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-924314">
                            <a class="j-chapter-link" data-hreflink="/215599/924314.html" data-chapterid="924314">
                                第55话 打脸白莲花1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-924123">
                            <a class="j-chapter-link" data-hreflink="/215599/924123.html" data-chapterid="924123">
                                第54话 真相流出3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-923174">
                            <a class="j-chapter-link" data-hreflink="/215599/923174.html" data-chapterid="923174">
                                第53话 真相流出2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-923173">
                            <a class="j-chapter-link" data-hreflink="/215599/923173.html" data-chapterid="923173">
                                第52话 真相流出1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-921862">
                            <a class="j-chapter-link" data-hreflink="/215599/921862.html" data-chapterid="921862">
                                第51话 打脸3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-921861">
                            <a class="j-chapter-link" data-hreflink="/215599/921861.html" data-chapterid="921861">
                                第50话 打脸2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-921860">
                            <a class="j-chapter-link" data-hreflink="/215599/921860.html" data-chapterid="921860">
                                第49话 打脸1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-921401">
                            <a class="j-chapter-link" data-hreflink="/215599/921401.html" data-chapterid="921401">
                                收费公告&amp;中奖名单
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-920140">
                            <a class="j-chapter-link" data-hreflink="/215599/920140.html" data-chapterid="920140">
                                第48话 劫机4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-920139">
                            <a class="j-chapter-link" data-hreflink="/215599/920139.html" data-chapterid="920139">
                                第47话 劫机3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-920137">
                            <a class="j-chapter-link" data-hreflink="/215599/920137.html" data-chapterid="920137">
                                第46话 劫机2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-920136">
                            <a class="j-chapter-link" data-hreflink="/215599/920136.html" data-chapterid="920136">
                                第45话 劫机1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919709">
                            <a class="j-chapter-link" data-hreflink="/215599/919709.html" data-chapterid="919709">
                                第44话 陌生的他4
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919711">
                            <a class="j-chapter-link" data-hreflink="/215599/919711.html" data-chapterid="919711">
                                第43话 陌生的他3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919708">
                            <a class="j-chapter-link" data-hreflink="/215599/919708.html" data-chapterid="919708">
                                第42话 陌生的他2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919939">
                            <a class="j-chapter-link" data-hreflink="/215599/919939.html" data-chapterid="919939">
                                中秋贺图
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919710">
                            <a class="j-chapter-link" data-hreflink="/215599/919710.html" data-chapterid="919710">
                                第41话 陌生的他1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919681">
                            <a class="j-chapter-link" data-hreflink="/215599/919681.html" data-chapterid="919681">
                                连更预告及活动通知
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919588">
                            <a class="j-chapter-link" data-hreflink="/215599/919588.html" data-chapterid="919588">
                                第40话 执行任务3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-919040">
                            <a class="j-chapter-link" data-hreflink="/215599/919040.html" data-chapterid="919040">
                                第39话 执行任务2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-918872">
                            <a class="j-chapter-link" data-hreflink="/215599/918872.html" data-chapterid="918872">
                                第38话 执行任务1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-917875">
                            <a class="j-chapter-link" data-hreflink="/215599/917875.html" data-chapterid="917875">
                                第37话 香水广告3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-917574">
                            <a class="j-chapter-link" data-hreflink="/215599/917574.html" data-chapterid="917574">
                                第36话 香水广告2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-917550">
                            <a class="j-chapter-link" data-hreflink="/215599/917550.html" data-chapterid="917550">
                                第35话 香水广告1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-916535">
                            <a class="j-chapter-link" data-hreflink="/215599/916535.html" data-chapterid="916535">
                                第34话 沙漠城堡3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-915915">
                            <a class="j-chapter-link" data-hreflink="/215599/915915.html" data-chapterid="915915">
                                第33话 沙漠城堡2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-916369">
                            <a class="j-chapter-link" data-hreflink="/215599/916369.html" data-chapterid="916369">
                                特别番外1 “好闺蜜”
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-915914">
                            <a class="j-chapter-link" data-hreflink="/215599/915914.html" data-chapterid="915914">
                                第32话 沙漠城堡1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-914648">
                            <a class="j-chapter-link" data-hreflink="/215599/914648.html" data-chapterid="914648">
                                第31话 机场遭遇3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-914278">
                            <a class="j-chapter-link" data-hreflink="/215599/914278.html" data-chapterid="914278">
                                第30话 机场遭遇2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-914252">
                            <a class="j-chapter-link" data-hreflink="/215599/914252.html" data-chapterid="914252">
                                第29话 机场遭遇1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-913617">
                            <a class="j-chapter-link" data-hreflink="/215599/913617.html" data-chapterid="913617">
                                第28话 周韵仪的目的3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-913622">
                            <a class="j-chapter-link" data-hreflink="/215599/913622.html" data-chapterid="913622">
                                第27话 周韵仪的目的2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-913343">
                            <a class="j-chapter-link" data-hreflink="/215599/913343.html" data-chapterid="913343">
                                第26话 周韵仪的目的1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-912940">
                            <a class="j-chapter-link" data-hreflink="/215599/912940.html" data-chapterid="912940">
                                5亿人气专属壁纸
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-912501">
                            <a class="j-chapter-link" data-hreflink="/215599/912501.html" data-chapterid="912501">
                                第25话 影后成名系统3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-912287">
                            <a class="j-chapter-link" data-hreflink="/215599/912287.html" data-chapterid="912287">
                                第24话 影后成名系统2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-912135">
                            <a class="j-chapter-link" data-hreflink="/215599/912135.html" data-chapterid="912135">
                                第23话 影后成名系统1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-910831">
                            <a class="j-chapter-link" data-hreflink="/215599/910831.html" data-chapterid="910831">
                                第22话 幕后黑手2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-910832">
                            <a class="j-chapter-link" data-hreflink="/215599/910832.html" data-chapterid="910832">
                                第21话 幕后黑手1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-910720">
                            <a class="j-chapter-link" data-hreflink="/215599/910720.html" data-chapterid="910720">
                                第20话 黑上热搜3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-910965">
                            <a class="j-chapter-link" data-hreflink="/215599/910965.html" data-chapterid="910965">
                                活动通知
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-909832">
                            <a class="j-chapter-link" data-hreflink="/215599/909832.html" data-chapterid="909832">
                                第19话 黑上热搜2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-909817">
                            <a class="j-chapter-link" data-hreflink="/215599/909817.html" data-chapterid="909817">
                                第18话 黑上热搜1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-909455">
                            <a class="j-chapter-link" data-hreflink="/215599/909455.html" data-chapterid="909455">
                                第17话 死亡之谜3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-908935">
                            <a class="j-chapter-link" data-hreflink="/215599/908935.html" data-chapterid="908935">
                                第16话 死亡之谜2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-908988">
                            <a class="j-chapter-link" data-hreflink="/215599/908988.html" data-chapterid="908988">
                                加更通知
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-909190">
                            <a class="j-chapter-link" data-hreflink="/215599/909190.html" data-chapterid="909190">
                                中奖公告
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-908644">
                            <a class="j-chapter-link" data-hreflink="/215599/908644.html" data-chapterid="908644">
                                第15话 死亡之谜1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-908144">
                            <a class="j-chapter-link" data-hreflink="/215599/908144.html" data-chapterid="908144">
                                第14话 竹篮打水2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-908141">
                            <a class="j-chapter-link" data-hreflink="/215599/908141.html" data-chapterid="908141">
                                第13话 竹篮打水1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-907708">
                            <a class="j-chapter-link" data-hreflink="/215599/907708.html" data-chapterid="907708">
                                第12话 归来3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-907703">
                            <a class="j-chapter-link" data-hreflink="/215599/907703.html" data-chapterid="907703">
                                第11话 归来2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-907702">
                            <a class="j-chapter-link" data-hreflink="/215599/907702.html" data-chapterid="907702">
                                第10话 归来1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-905590">
                            <a class="j-chapter-link" data-hreflink="/215599/905590.html" data-chapterid="905590">
                                第9话 注定背离的两人3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-905589">
                            <a class="j-chapter-link" data-hreflink="/215599/905589.html" data-chapterid="905589">
                                第8话 注定背离的两人2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-906183">
                            <a class="j-chapter-link" data-hreflink="/215599/906183.html" data-chapterid="906183">
                                暑期加更通知
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-904432">
                            <a class="j-chapter-link" data-hreflink="/215599/904432.html" data-chapterid="904432">
                                第7话 注定背离的两人1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-904408">
                            <a class="j-chapter-link" data-hreflink="/215599/904408.html" data-chapterid="904408">
                                第6话 世上另一个我3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-903030">
                            <a class="j-chapter-link" data-hreflink="/215599/903030.html" data-chapterid="903030">
                                第5话 世上另一个我2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-903018">
                            <a class="j-chapter-link" data-hreflink="/215599/903018.html" data-chapterid="903018">
                                第4话 世上另一个我1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-902086">
                            <a class="j-chapter-link" data-hreflink="/215599/902086.html" data-chapterid="902086">
                                第3话 代号“死神”3
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-902078">
                            <a class="j-chapter-link" data-hreflink="/215599/902078.html" data-chapterid="902078">
                                第2话 代号“死神”2
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-902059">
                            <a class="j-chapter-link" data-hreflink="/215599/902059.html" data-chapterid="902059">
                                第1话 代号“死神”1
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-901868">
                            <a class="j-chapter-link" data-hreflink="/215599/901868.html" data-chapterid="901868">
                                第0话2 你好，渣男
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-901869">
                            <a class="j-chapter-link" data-hreflink="/215599/901869.html" data-chapterid="901869">
                                第0话1 你好，渣男
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-902532">
                            <a class="j-chapter-link" data-hreflink="/215599/902532.html" data-chapterid="902532">
                                上线活动
                            </a>
                        </li>
                        <li class="j-chapter-item chapter__item id-901786 look">
                            <a class="j-chapter-link" data-hreflink="/215599/901786.html" data-chapterid="901786">
                                序章
                            </a>
                            <i class="read-at iconfont"></i>
                        </li>
                    </ul>
                    <div class="chapter__more">
                        <a class="btn close" href="javascript:void(0);">
                            @if (isShow)
                            {
                                <span class="down" @onclick="handleShow">Ẩn bớt<i class="iconfont icon-ic_detaillist_up"></i></span>
                            }
                            else
                            {
                                <span class="down" @onclick="handleShow">Hiển thị thêm<i class="iconfont icon-ic_detaillist_down1"></i></span>
                            }
                        </a>
                    </div>
                </div>
            </div>
            <a class="de__ad" href="/215451/"
               style="background-image: url(https://oss.mkzcdn.com/image/20210803/61089b5e061c4-1694x214.jpg!banner-1400);"
               target="_blank"></a>
            <div class="guess-u-like clearfix" style="margin-bottom: 20px;">
                <p class="guess__title" style="margin-top: 20px;">Có thể bạn cũng thích</p>
                <div class="guess__list clearfix">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:1120px">
                        <div class="slide-wrapper"
                             style="width: 1792px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/207727/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20230106/63b795177413d-599x799.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20230106/63b795177413d-599x799.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第732话</div>
                                </div>
                                <p class="comic__title"><a href="/207727/">星武神诀</a></p>
                                <p class="comic__feature">逆天强者的撼世之路</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/212062/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20230106/63b792d8e841d-600x800.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20230106/63b792d8e841d-600x800.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第1季最终话</div>
                                </div>
                                <p class="comic__title"><a href="/212062/">修真四万年（别名：星域四万年）</a></p>
                                <p class="comic__feature">边境少年的修真之路，为了主宰银河！</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/211189/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20181218/5c18b62d4a78a-750x999.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20181218/5c18b62d4a78a-750x999.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第453话</div>
                                </div>
                                <p class="comic__title"><a href="/211189/">姻缘宝典</a></p>
                                <p class="comic__feature">手握宝典走天下</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/216307/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20220113/61dfe85ca09c3-750x999.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20220113/61dfe85ca09c3-750x999.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第204话 邀请</div>
                                </div>
                                <p class="comic__title"><a href="/216307/">最强内卷系统</a></p>
                                <p class="comic__feature">穿到修仙界获得最强系统，武神只想种地</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/214673/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20230106/63b799c660068-750x999.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20230106/63b799c660068-750x999.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第344话 此路不通</div>
                                </div>
                                <p class="comic__title"><a href="/214673/">踏碎仙河</a></p>
                                <p class="comic__feature">谱写一段永世不朽的传奇</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/208642/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20210629/60dab657426f2-750x999.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20210629/60dab657426f2-750x999.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第2季第89话 调查之前4</div>
                                </div>
                                <p class="comic__title"><a href="/208642/">妃夕妍雪</a></p>
                                <p class="comic__feature">妃夕妍雪第二部开启，缘起之章</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/216621/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20230421/644243d9c9297-750x999.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20230421/644243d9c9297-750x999.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第161话 醋意</div>
                                </div>
                                <p class="comic__title"><a href="/216621/">少帅每天都在吃醋2:少帅是醋精</a></p>
                                <p class="comic__feature">破案天才和她的醋精少帅</p>
                            </div>
                            <div class="guess-item slide-item" style="float: left; width: 214px;">
                                <div class="cover">
                                    <a href="/72/">
                                        <img class="lazy-slide"
                                             src="https://oss.mkzcdn.com/comic/cover/20181206/5c0888b755bb1-600x800.jpg!cover-400"
                                             data-src="https://oss.mkzcdn.com/comic/cover/20181206/5c0888b755bb1-600x800.jpg!cover-400"
                                             alt="封面" style="display: inline-block;">
                                    </a>
                                    <div class="cover__tag">第270话2 切割杀阵</div>
                                </div>
                                <p class="comic__title"><a href="/72/">星海镖师</a></p>
                                <p class="comic__feature">宇宙护镖，使命必达</p>
                            </div>
                        </div>
                    </div>
                    <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
                    <div class="next"><i class="layui-icon layui-icon-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    @*  <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=938050"></script>
    <script type="text/javascript" id="bdshell_js"
    src="https://static.mkzcdn.com/home/assets/script/libs/share/static/api/js/share.js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = 'https://static.mkzcdn.com/home/assets/script/libs/share/static/api/js/share.js';
    </script>*@
    <div class="in-aside-handle">
        <div class="aside__item qr-code">
            <i class="iconfont icon-ic_float_ewm"></i>
            <div class="qr-code-pic hide"></div>
        </div>
        <div class="aside__item share">
            <i class="iconfont icon-ic_float_fx"></i>
            <ul class="share-full clearfix hide bdsharebuttonbox bdshare-button-style0-16" id="bdshare" data-tag="share_1"
                data-bd-bind="1709370132040">
                <a class="aside-share__item qq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a class="aside-share__item wx" data-cmd="weixin" title="分享到微信"></a>
                <a class="aside-share__item wb" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="aside-share__item kj" data-cmd="qzone" title="分享到QQ空间"></a>
            </ul>
        </div>
        <div class="aside__item feedback j-home-feed">
            <i class="iconfont icon-ic_float_fk"></i>
            <p class="feed-full hide">在线反馈</p>
        </div>
        <div class="aside__item back-top hide">
            <i class="iconfont icon-ic_float_top"></i>
            <p class="back-full hide">返回顶部</p>
        </div>
    </div>
    @*  <script>
    </script>*@


    <div class="in-header">
        <div class="in-header__wrap container--response">
            <a class="in-header__logo" href="/"></a>
            <div class="in-header__nav">
                <ul class="clearfix">
                    <li class="nav-item active">
                        <a href="/">TRANG CHỦ</a>
                        <div class="underline"></div>
                    </li>
                    <!-- <li class="nav-item ">
                      <a href="/update/">MỚI CẬP NHẬT</a>
                      <div class="underline"></div>
                    </li> -->
                    <li class="nav-item ">
                        <a href="/top/">XẾP HẠNG</a>
                        <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                        <a href="/category/">PHÂN LOẠI</a>
                        <div class="underline"></div>
                    </li>
                    <!-- <li class="nav-item hide ">
                      <a href="/category/?is_vip=1">VIP</a>
                      <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                      <a href="/free/limit/">限免</a>
                      <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                      <a href="https://www.xiaoshuohui.com.cn/">小说</a>
                      <div class="underline"></div>
                      <img class="new" src="//static.mkzcdn.com/home/assets/images/header/ic_nav_newxs.png?v=658642e" alt="new">
                    </li> -->
                </ul>
            </div>
            <div class="in-header__search">
                <input class="input j-header-input" type="text" placeholder="Tìm truyện">
                <span class="button_config">Search</span>
                <i class="iconfont icon-ic_head_search"></i>
                <div class="in-dialog--search hide">
                    <div class="search-his-wr">
                        <div class="dialog-title">
                            <span>历史记录</span>
                            <div class="search-his__clear">
                                <i class="iconfont icon-ic_head_searchnull"></i>
                                <a href="javascript:;">删除</a>
                            </div>
                        </div>
                        <div class="search-his clearfix"></div>
                    </div>
                    <div class="search-hot-wr">
                        <p class="dialog-title">今日热搜</p>
                        <div class="search-hot">
                        </div>
                    </div>

                    <!-- 搜索关键字弹出框 -->
                    <div class="keyword-box clearfix hide">
                    </div>
                </div>
            </div>
            <div class="in-header__user">
                <ul class="fl clearfix">
                    <li class="user-item j-user-msg">
                        <a href="/user/message/" rel="nofollow">
                            <i class="iconfont icon-ic_head_inform"></i>
                            <span class="item-text">消息</span>
                        </a>
                    </li>
                    <li class="user-item j-header-his">
                        <a href="/user/history/" rel="nofollow">
                            <i class="iconfont icon-ic_head_footprint"></i>
                            <span class="item-text">Lịch sử</span>
                        </a>
                    </li>
                    <li class="user-item j-header-coll">
                        <a href="/user/collection/" rel="nofollow">
                            <i class="iconfont icon-ic_head_coll"></i>
                            <span class="item-text">Đánh dấu</span>
                        </a>
                    </li>
                    <li class="user-item">
                        <a href="/author/comic_add_step1/">
                            <i class="iconfont icon-ic_head_tg"></i>
                            <span class="item-text">Tác giả</span>
                        </a>
                    </li>
                </ul>
                <div class="j-header-avatar in-header__avatar fl">
                    <a href="/user/">
                        <img class="j-user-avatar"
                             src="//static.mkzcdn.com/home/assets/images/home/pic_login_defaulthead.png?v=5b80a2f" alt="用户头像">
                    </a>
                    <div class="j-dialog-avatar dialog__header-avatar">
                        <div class="in-dialog--avatar">
                            <span class="triangle">
                                <i class="iconfont icon-ic_nav_toast_sj"></i>
                            </span>
                            <!-- 游客 -->
                            <!-- <div class="j-dialog-tourist row-1 hide">
                              <p class="base-info">
                                <a class="j-user-name nickname" href="/login/">Tên user</a>
                                <i class="vip-tag icon icon-vip-tag"></i>
                                <a class="j-user-logout logout" href="/login/">Chưa đăng nhập</a>
                              </p>
                              <p style="font-size: 16px;">Username</p>
                            </div> -->
                            <!-- 游客-end -->
                            <!-- 登录用户 -->
                            <div class="j-dialog-user row-1">
                                <p class="base-info">
                                    <a class="j-user-name nickname" href="/user/"></a>
                                    <i class="j-user-vip vip-tag icon-vip-tag"></i>
                                    <a class="j-user-logout logout" href="javascript:;">Đăng xuất</a>
                                </p>
                                <p style="font-size: 16px;">Username</p>
                            </div>
                            <!-- 登录用户-end -->
                            <div class="row-2">
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-yb"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        Vàng<br>
                                        <span class="j-user-gold">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-yp"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        Đã mua<br>
                                        <span class="j-user-ticket">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-kq"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        Đang đọc<br>
                                        <span class="j-user-coupon">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

@code {
    bool isShow = false;
    void handleShow()
    {
        isShow = !isShow;
    }
}
