@page "/login"
@using StoriesProject.API.Common.Constant;
@using StoriesProject.Model.ViewModel.Accountant;
@using StoriesProject.Services;
@using System.Text.Json
@using StoriesProject.Shared.ComponentBase
@inject IAccountantsService _accountantsService;
@inherits BaseComponentCustom
<html class="mdl-js">

<head>
    <title>登录 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords"
          content="漫画大全,漫画图片,漫画投稿,在线漫画,斗破苍穹漫画,斗罗大陆漫画,偷星九月天,穿越西元3000后,凤逆天下,风起苍岚,妃夕妍雪,BL漫画,耽美漫画,知音漫客,飒漫画,漫画下载">
    <meta name="description" content="中国领先的原创漫画平台，七年来积累了大量的签约作者和好看的漫画作品，斗破苍穹漫画、斗罗大陆漫画，更有APP和漫画下载等精彩内容等你发现，看漫画，就来漫客栈！">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon" />
    <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico" />

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">


    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/home.css?v=c05d384">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/module/home/login/main.css?v=a93aa2b">

    <!-- start Dplus -->
    <!-- end Dplus -->
    <!--[if lt IE 9]>
    <script src="//static.mkzcdn.com/home/assets/script/libs/respond/respond.js?v=afc1984"></script>
    <![endif]-->
    <style>
        .dialog-login_form .input-block input {
            height: 40px;
        }

        .dialog-login_form .input-block--inline input {
            height: 40px;
            width: 182px;
        }

        .dialog-login_form .submit-btn {
            font-size: 16px;
            width: 283px;
        }

        .input-block--inline {
            width: 283px;
        }

        .in-header__nav .nav-item {
            width: auto;
            font-size: 16px;
        }

        .in-header__nav .underline {
            display: none;
            position: absolute;
            left: 7px;
            bottom: -3px;
            width: 50px;
            height: 3px;
            background: #ff620e;
            border-radius: 9px;
        }

        .page-login .footer-wrapper {
            height: inherit;
        }

        .page-login.fixed-footer .footer-wrapper {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
        }
    </style>
</head>

<body class="page-login fixed-footer" data-feed="">
    <div style='display:none;'>
        <img src='https://static.mkzcdn.com/home/assets/images/common/app_logo.png' />
    </div>

    <!-- main-content -->
    <div class="main-content">
        <div class="container--response">
            <div class="login-box">
                <div class="login-pic">
                    <img src="//static.mkzcdn.com/home/assets/images/login/pic_loginpage_img.png?v=d5ddbcc" />
                </div>
                <!-- 登录弹框 -->
                <div class="dialog-login">
                    <!-- close -->
                    <div class="j-dialog-login-header dialog-login__header hide">
                        <i class="j-dialog-login-close dialog-login__header--close"></i>
                    </div>
                    <!-- 接口错误信息 -->
                    <div class="j-dialog-login-toast dialog-login__toast hide"></div>
                    <div class="dialog-login_content clearfix">
                        <!-- 登录/注册 -->
                        <div class="tab-content">
                            <!-- 登录 -->
                            <div class="j-tab-item tab-item @(isLogin ? "active" : "")" data-contentid="login">
                                <div class="dialog-login_form login-form">
                                    <div class="form-title">
                                        <h3>Đăng nhập</h3>
                                        <span>Chưa có tài khoản？ </span>
                                        <a class="j-dialog-login-mode" @onclick="ToggleIsLogin" data-contentid="register">
                                            Đăng kí>
                                        </a>
                                    </div>
                                    <div class="form-item">
                                        <div class="input-block">
                                            <input type="text" name="account" autocomplete="off" placeholder="Username" @bind="loginViewModel.UserName" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="input-block">
                                            <input type="password" name="password" placeholder="Password" autocomplete="off" @bind="loginViewModel.Password" />
                                        </div>
                                    </div>
                                    <div class="form-item login-action" @onclick="(() => LoginAction(loginViewModel))">
                                        <div class="j-login-submit submit-btn disabled-select">
                                            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="@(isLogging ? "":"display:none")"></i>
                                            <span>Đăng nhập</span>
                                        </div>
                                    </div>
                                    <div class="form-item clearfix">
                                        <div class="j-remember-link remember-link disabled-select">
                                            <i class="iconfont icon-ic_read_choose_on1 checkbox"></i>Ghi nhớ
                                        </div>
                                        <div class="forgot-link disabled-select">
                                            <a href="/forgot" target="_blank">Quên mật khẩu?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 注册 -->
                            <div class="j-tab-item tab-item @(!isLogin ? "active" : "")" data-contentid="register">
                                <div class="dialog-login_form register-form">
                                    <div class="form-title">
                                        <h3>Đăng kí</h3>
                                        <a class="j-dialog-login-mode" @onclick="ToggleIsLogin" data-contentid="login">Đăng nhập>></a>
                                    </div>
                                    <div class="form-item">
                                        <div class="input-block">
                                            <input type="text" name="account" autocomplete="off" placeholder="Username" @bind="accRegister.UserName" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="input-block">
                                            <input type="text" name="phone" placeholder="Số điện thoại" maxlength="10" autocomplete="off" @bind="accRegister.PhoneNumber" />
                                        </div>
                                    </div>
                                    @* <div class="form-item">
                                    <div class="input-block--inline">
                                    <input type="text" name="verifycode" placeholder="Mã xác nhận" autocomplete="off" />
                                    <div class="j-sms-btn sms-btn" data-status="false">
                                    Gửi mã
                                    </div>
                                    </div>
                                    </div> *@
                                    <div class="form-item">
                                        <div class="input-block">
                                            <input type="password" name="setpassword" placeholder="Mật khẩu (6-16 kí tự)"
                                                   autocomplete="off" @bind="accRegister.Password" />
                                        </div>
                                    </div>
                                    <div class="form-item" @onclick="(() => RegisterAction(accRegister))">
                                        <div class="j-register-submit submit-btn disabled-select">
                                            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="@(isLogging ? "":"display:none")"></i>Đăng ký
                                        </div>
                                    </div>
                                    <div class="tip-protocol">
                                        Việc đăng kí là đồng ý với<a class="j-dialog-login-protocol" data-protocolid="user">
                                            《các điều
                                            khoản》
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 二维码 -->
                            <div class="j-tab-item tab-item" data-contentid="qr">
                                <div class="dialog-login_form">
                                    <div class="form-title">
                                        <h3>手机扫码登录</h3>
                                        <span>没账号(&gt;^ω^&lt;)？</span>
                                        <a class="j-dialog-login-mode" data-contentid="register">快速注册></a>
                                    </div>
                                    <div class="tip-pics">
                                        <div class="tip-qrcode">
                                            <div class="j-dialog-qrcode"></div>
                                            <div class="j-refresh-qrcode refresh-qrcode hide">
                                                <div class="refresh-text">二维码失效</div>
                                                <div class="refresh-btn">刷新二维码</div>
                                            </div>
                                        </div>
                                        <div class="tip-help">
                                            <img src="//static.mkzcdn.com/home/assets/images/login/pic_login_sysimg.png?v=6003eb7"
                                                 alt="扫一扫" />
                                        </div>
                                    </div>
                                    <div class="tip-text">
                                        打开APP> 我的> 右上方”扫一扫”
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 第三方登录 -->
                        @*<div class="j-dialog-other-login other-login">
                        <h3 class="j-dialog-other-title title">
                        <div class="title-line"></div>
                        <div class="title-text">其他登录方式</div>
                        </h3>
                        <div class="other-link">
                        <a href="/login/oauth/?oauth_id=101" rel="nofollow" class="other-login-qq">
                        <i class="iconfont icon-ic_buytoast_qq"></i>
                        </a>
                        <a href="/login/oauth/?oauth_id=201" rel="nofollow" class="other-login-wx">
                        <i class="iconfont icon-ic_login_wx"></i>
                        </a>
                        <a href="/login/oauth/?oauth_id=301" rel="nofollow" class="other-login-sina">
                        <i class="iconfont icon-ic_login_xl"></i>
                        </a>
                        <!-- 扫码登录 -->
                        <div class="j-dialog-switch-mode other-link__qr" data-contentid="qr">
                        <i class="iconfont icon-ic_login_smdl"></i>
                        <span class="other-link__qr--text">扫码登录</span>
                        </div>
                        <!-- 账号登录 -->
                        <div class="j-dialog-switch-mode other-link__qr hide" data-contentid="login">
                        <i class="iconfont icon-ic_login_zhdl"></i>
                        <span class="other-link__qr--text">账号登录</span>
                        </div>
                        </div>
                        </div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="in-header">
        <div class="in-header__wrap container--response">
            <a class="in-header__logo" href="/"></a>
            <div class="in-header__nav">
                <ul class="clearfix">
                    <li class="nav-item active">
                        <a href="/">TRANG CHỦ</a>
                        <div class="underline"></div>
                    </li>
                    <!-- <li class="nav-item ">
                      <a href="/update/">MỚI CẬP NHẬT</a>
                      <div class="underline"></div>
                    </li> -->
                    @* <li class="nav-item ">
                        <a href="/top/">XẾP HẠNG</a>
                        <div class="underline"></div>
                    </li> *@
                    <li class="nav-item ">
                        <a href="/category/">PHÂN LOẠI</a>
                        <div class="underline"></div>
                    </li>
                    <!-- <li class="nav-item hide ">
                      <a href="/category/?is_vip=1">VIP</a>
                      <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                      <a href="/free/limit/">限免</a>
                      <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                      <a href="https://www.xiaoshuohui.com.cn/">小说</a>
                      <div class="underline"></div>
                      <img class="new" src="//static.mkzcdn.com/home/assets/images/header/ic_nav_newxs.png?v=658642e" alt="new">
                    </li> -->
                </ul>
            </div>
        </div>
    </div>



</body>

</html>

<script src="js/login.js" suppress-error="BL9992"></script>

@code {
    private LoginViewModel loginViewModel { get; set; } = new LoginViewModel();
    private AccountantRegister accRegister { get; set; } = new AccountantRegister();
    private bool isLogin = true;
    private bool isLogging { get; set; } = false;
    private void ToggleIsLogin()
    {
        isLogin = !isLogin;
        loginViewModel = new LoginViewModel();
        accRegister = new AccountantRegister();
    }
    private async Task LoginAction(LoginViewModel loginViewModel)
    {
        isLogging = true;
        var isValid = await InvokeAsync<bool>("validateLoginForm");
        if (isValid)
        {
            var res = await _accountantsService.Login(loginViewModel);
            if (res != null && res.IsSuccess && res.Data != null)
            {
                // Gọi hàm JavaScript để ghi token vào sessionStorage
                await SetSessionStorage("token", res.Data.Token);
                var userInfor = new UserInforGeneric
                {
                    UserName = loginViewModel.UserName,
                    ImgAvatar = res.Data.ImgAvatar,
                    Coin = res.Data.Coin,
                };
                var userInforJson = JsonSerializer.Serialize(userInfor);
                await SetSessionStorage("userInfor", userInforJson);
                // lưu quyền trên session chỉ phục vụ hiển thị màn hình thôi, các nghiệp vụ check quyền dưới BE hết
                await SetSessionStorage("IsAuthor", res.Data.RoleList.Contains(RoleConstant.Author));
                await ShowToast("Đăng nhập thành công");
                await Task.Delay(2000);
                if (res.Data.RoleList.Contains(RoleConstant.Admin) || res.Data.RoleList.Contains(RoleConstant.Employee))
                {
                    // là nhân viên hoặc admin thì bay luôn sang admin
                    NavigateToUrl($"/admin");
                }
                else
                {
                    NavigateToUrl($"/");
                }
            }
            else
            {
                await ShowToast(res?.Message);
            }
        }
        isLogging = false;
    }

    private async Task RegisterAction(AccountantRegister accRegister)
    {
        isLogging = true;
        var isValid = await InvokeAsync<bool>("validateRegisterForm");
        if (isValid)
        {
            var res = await _accountantsService.Register(accRegister);
            if (res != null && res.IsSuccess)
            {
                await ShowToast(res.Data);
                await Task.Delay(2000);
                isLogin = true;
                NavigateToUrl($"/Login");
            }
            else
            {
                await ShowToast(res?.Message);
            }
        }
        isLogging = false;

    }
}
