@page "/user/profile"
@using StoriesProject.Model.ViewModel.Accountant;
@using StoriesProject.Services;
@using StoriesProject.Shared.ComponentBase;
@using static StoriesProject.Model.Enum.DataType;

@inject IAccoutantsService _accoutantsService;
@inject IJSRuntime _js;
@inject NavigationManager _navigationManager;
@inherits AuthorBaseComponent
<html>
<head>
    <title>我的收藏 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_user.css?v=a19b47d">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/user.css?v=b5db955">



    <!-- start Dplus -->
</head>
<style>
    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: auto;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .main-content__profile--right {
        float: right;
        margin-right: 40px;
    }
</style>

<body class="page-collection">
    <!-- 头部 -->
    <UserHeader/>
    

    <!-- 内容 -->
    <div class="main-container">
        <UserSideBar isSelected=4 />

        <!-- main-content -->
        <div class="main-content--aside">
            <!-- title -->
            <div class="main-content_title">
                <h3>Thông tin cá nhân</h3>
            </div>
            <div class="main-content__profile clearfix">
                <!-- left -->
                <div class="main-content__profile--left">
                    <form class="layui-form">
                        <!-- 用户名 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <em class="label-required-symbol">*</em>Username
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="username" class="user-name layui-input" lay-verify="required|username"
                                       autocomplete="off" @bind="accInfor.UserName" />
                                <div class="label-tips">
                                    Tên người dùng có thể được sử dụng làm tên đăng nhập và chỉ được sửa đổi một
                                    lần. Vui lòng thận trọng khi sửa đổi.
                                </div>
                            </div>
                        </div>
                        <!-- 昵称 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">Họ tên</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="nickname" @bind="accInfor.Name">
                            </div>
                        </div>
                        <!-- QQ -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">Email</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="qq" @bind="accInfor.Email">
                            </div>
                        </div>
                        <!-- 性别 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <em class="label-required-symbol">*</em>Giới tính
                            </label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" title="Name" @onclick="(() => UpdateGender(GenderType.Male))" />
                                <div class="layui-unselect layui-form-radio">
                                    <i class="layui-anim layui-icon"></i>
                                    <div>Name</div>
                                </div>
                                <input type="radio" name="sex" title="Nữ" @onclick="(() => UpdateGender(GenderType.Female))" />
                                <div class="layui-unselect layui-form-radio">
                                    <i class="layui-anim layui-icon"></i>
                                    <div>nữ</div>
                                </div>
                                <input type="radio" name="sex" value="0" title="Khác" checked="checked" @onclick="(() => UpdateGender(GenderType.Other))" />
                                <div class="layui-unselect layui-form-radio layui-form-radioed">
                                    <i class="layui-anim layui-icon"></i>
                                    <div>Khác</div>
                                </div>
                            </div>
                        </div>
                        <!-- 生日 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">Năm sinh</label>
                            <div class="layui-input-block">
                                <input type="date" name="birthday" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
                                       autocomplete="off" class="layui-input" lay-key="1" @bind="accInfor.DateOfBirth">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">Tự mô tả</label>
                            <div class="layui-input-block">
                                <textarea maxlength="100" name="description"
                                          placeholder="Giới thiệu bản thân với những người dùng khác, lưu ý không quá 200 từ"
                                          class="layui-textarea" @bind="accInfor.Introduce"></textarea>
                            </div>
                        </div>
                        <!-- 保存资料 -->
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-danger" lay-submit="" @onclick="(() => UpdateAccInfor())">Cập nhật</button>
                            </div>
                        </div>
                        <!-- avatar -->
                        <input type="hidden" name="avatar" value="http://oss.mkzcdn.com/default/member/avatar/10.png">
                    </form>
                </div>
                <!-- right -->
                <div class="main-content__profile--right">
                    <img class="j-user-avatar main-content__profile--avatar"
                         src="https://oss.mkzcdn.com/default/member/avatar/10.png!avatar-100">
                    <button class="j-change-avatar main-content__profile--right-btn layui-btn layui-btn-danger">
                        Thay đổi
                        Avatar
                    </button>
                </div>
            </div>
        </div>


    </div>

    @*  <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/vendor/base_lib.js?v=e631876"></script>
    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layer/layer.js?v=6e80f0c"></script>
    <script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/sd/nch5/index.js?t=2015052012"></script>

    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layui/layui.js?v=3320191"></script>
    <script type="text/javascript">
    seajs.use(['assets/script/modules/httpApi/httpApi'], function (httpApi)
    {
    layui.use(['form', 'laypage', 'laytpl'], function ()
    {
    var form = layui.form,
    laypage = layui.laypage,
    laytpl = layui.laytpl;

    var $count = $('.j-collection-count'), // 收藏数
    $list = $('.j-collection-list'), // 收藏列表
    $tpl_list = $('#user_collection_list'), // 渲染模板
    $pagination = $('#collection-pagination'), // 分页
    $toolbox = $('.j-collection-toolbox'), // 工具栏
    $btn_delete = $('.j-collection-delete'), // 工具栏 - 删除按钮
    $btn_cancel = $('.j-collection-cancel');  // 工具栏 - 取消按钮

    var collection_params = {
    page_num: 1,
    page_size: 10
    };

    // 渲染收藏列表
    function renderCollectionList(currentPageNum)
    {
    collection_params.page_num = currentPageNum;
    // 请求收藏列表数据
    return httpApi.comic
    .collectionLists(collection_params)
    .done(function (res)
    {
    if (res.code == 200)
    {
    var count = res.data.count;
    // 渲染收藏数
    $count.text(count);
    // 渲染模板
    laytpl($tpl_list.html()).render(res.data.list, function (result)
    {
    $list.html(result);
    });
    }
    });
    }

    // 渲染分页
    function renderPagination(count)
    {
    laypage.render({
    elem: $pagination,
    count: count,
    theme: 'mkz',
    prev: '<',
    next: '>',
    limit: 10,
    jump: function (obj, first)
    {
    if (!first)
    {
    renderCollectionList(obj.curr)
    .then(overlayHandle)
    .then(bindHandle);
    }
    }
    });
    }

    // 初始化分页
    function initPagination()
    {
    return renderCollectionList(1).then(function (res)
    {
    var count = res.data.count;
    if (count <= collection_params.page_size)
    {
    $pagination.hide();
    } else
    {
    $pagination.show();
    }
    if (count !== 0)
    {
    renderPagination(count);
    bindHandle();
    }
    });
    }

    // 选择状态
    function itemSelectStatus()
    {
    $list
    .find('.j-item-select')
    .addClass('user-comic-item--selected')
    .show();
    }

    // 取消状态
    function itemCancelStatus()
    {
    $list.find('.j-item-select').removeClass('user-comic-item--selected');
    }

    // 是否添加遮罩层
    function overlayHandle()
    {
    if ($('.j-collection-feature').is(':visible'))
    {
    $list.find('.j-item-select').show();
    // 如果选中状态，则改变所有为选中
    if ($('input[name="select-all"]').is(':checked'))
    {
    itemSelectStatus();
    }
    }
    }

    // checkbox事件
    function checkboxHandle(data)
    {
    if (data.elem.checked)
    {
    $(data.elem).attr('checked', true);
    itemSelectStatus();
    } else
    {
    $(data.elem).attr('checked', false);
    itemCancelStatus();
    }
    deleteBtnHandle();
    }

    // 删除事件
    function deleteHandle()
    {
    // 如果禁用状态则不处理
    if ($btn_delete.hasClass('delete-btn--disable')) return;
    layer.open({
    content: '亲，确定要取消收藏吗？',
    btn: ['确定', '取消'],
    yes: function (index)
    {
    layer.close(index);
    httpApi.comic.collectionCancel({
    comic_ids: getSelectIds()
    })
    .done(function (res)
    {
    if (res.code == 200)
    {
    layer.msg(res.message, {
    end: function ()
    {
    window.location.reload();
    }
    });
    }
    });
    }
    });
    }

    // 取消事件
    function cancelHandle()
    {
    $('.j-collection-feature').hide();
    $toolbox.show();
    $list.find('.j-item-select').fadeOut();
    itemCancelStatus();
    $('input[name="select-all"]').attr('checked', false);
    form.render('checkbox');
    }

    // 获取选中漫画的id
    function getSelectIds()
    {
    var _comicids = [];
    $('.user-comic-item--selected').each(function (idx, ele)
    {
    _comicids.push($(ele).data('comic'));
    });
    return _comicids.join(',');
    }

    // 是否允许删除
    function deleteBtnHandle()
    {
    if ($('.user-comic-item--selected').length > 0)
    {
    $btn_delete.removeClass('delete-btn--disable');
    } else
    {
    $btn_delete.addClass('delete-btn--disable');
    }
    }

    // 绑定事件
    function bindHandle()
    {
    // toolbox
    $toolbox.on('click', function ()
    {
    $list.find('.j-item-select').fadeIn();
    $(this).hide();
    $('.j-collection-feature').show();
    });
    form.on('checkbox(select-all)', checkboxHandle);
    $btn_delete.on('click', deleteHandle);
    $btn_cancel.on('click', cancelHandle);
    // 选择事件
    $('.j-item-select').on('click', function ()
    {
    $(this).toggleClass('user-comic-item--selected');
    deleteBtnHandle();
    });
    }

    // 初始化执行方法
    initPagination();
    });
    });
    </script>
    <script>
    (function ()
    {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https')
    {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else
    {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
    })();
    </script>*@



</body>

</html>

@code {
    private AccountantUpdate accInfor { get; set; } = new AccountantUpdate();
    private Guid detailID { get; set; }

    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            accInfor = await _accoutantsService.GetUserInforGeneric();
            StateHasChanged();
        }
    }

    private async Task UpdateAccInfor()
    {
        if (accInfor != null)
        {
            var res = await _accoutantsService.UpdateUserInfor(accInfor);
            if (res != null && res.IsSuccess)
            {
                await _js.InvokeVoidAsync("setSessionStorage", "userName", accInfor.UserName);
                await _js.InvokeVoidAsync("showToast", "Cập nhật thành công");
            }
            else
            {
                await _js.InvokeVoidAsync("showToast", res?.Message);
            }
        }
        
        
    }

    private void UpdateGender(GenderType genderType)
    {
        accInfor.Gender = genderType;
    }
}
