@page "/user/history"
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Services;
@using StoriesProject.Shared.ComponentBase;
@inject IStoriesService _storiesService;
@inherits AuthorBaseComponent
<html>
<head>
    <title>阅读历史 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_user.css?v=a19b47d">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/user.css?v=b5db955">
</head>
<style>
    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }
</style>

<body class="page-history">
    <!-- 头部 -->

    <div class="header-user-wrapper">
        <div class="main-container clearfix">
            <!-- logo -->
            <a href="/user/" class="header-logo">
                <img src="//static.mkzcdn.com/home/assets/images/header/pic_dzzx_logo.png?v=5d2ae5c" />
            </a>
            <!-- link -->
            <!-- <div class="nav-link"> -->
            <!-- <div class="sub-text">我是读者</div> -->
            <!-- <a href="/">返回客栈首页</a> -->
            <!-- </div> -->
            <!-- menu -->
            <ul class="nav-menu">
                <li><a rel="nofollow" href="/">Trang chủ truyện tranh</a></li>
                <li><a rel="nofollow" href="https://www.xiaoshuohui.com.cn/">Quản lý cá nhân</a></li>
            </ul>
            <!-- search -->
            <div class="j-header-searchbox search-box">
                <input class="j-header-search-input" type="text" name="user-search-icon" value=""
                       placeholder="Tác giả/ Tác phẩm" autocomplete="off" />
                <div class="j-header-search-btn search-btn">
                    <i class="icon-search-white"></i>
                </div>
            </div>
            <div class="fr">
                <!-- switch -->
                <ul class="switch-tab reader">
                    <!-- <a class="hl" rel="nofollow" href="/user/">读者</a> -->
                    <a rel="nofollow" href="/author/">Tác giả</a>
                </ul>
                <!-- user-box -->
                <div class="j-header-avatar user-box">
                    <div class="user-avatar">
                        <a href="/user/">
                            <img class="j-user-avatar"
                                 src="//static.mkzcdn.com/home/assets/images/common/pic_login_defaulthead.png?v=83881ca" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 内容 -->
    <div class="main-container">
        <UserSideBar isSelected=2 />

        <!-- main-content -->
        <div class="main-content--aside">
            <div class="main-content_title">
                <h3>Lịch sử đọc</h3>
                <div class="main-content_subtitle">
                    Tổng
                    <strong class="j-collection-count">@(listReadedStory != null ? listReadedStory.Count : 0)</strong>tác phẩm
                </div>
                <!-- toolbox -->
                <div class="main-content__title--toolbox">
                    <div class="j-collection-toolbox clear-btn">
                        <i class="iconfont icon-clearlist"></i> 整理阅读历史
                    </div>
                    <div class="j-collection-feature toolbox-btn layui-form hide">
                        <div class="layui-input-block">
                            <input type="checkbox" name="select-all" lay-filter="select-all" lay-skin="primary" title="全选">
                        </div>
                        <div class="btn-group">
                            <span class="j-collection-delete delete-btn delete-btn--disable">删除历史</span>
                            <span class="j-collection-cancel cancel-btn">取消</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comic-list -->
            <div class="j-comic-list main-content__comic-list">
                <ul class="user-comic-list">
                    @if (listReadedStory != null && listReadedStory.Count > 0)
                    {
                        @foreach (var item in listReadedStory)
                        {
                            <li class="user-comic-item" @onclick="(() => NavigateToDetails(item.Id))">
                                <div class="j-item-select user-comic-item__select">
                                    <i class="pic-select"></i>
                                </div>
                                <a class="user-comic-item__cover">
                                    <i class="pic-comic-update"></i>
                                    <i class="pic-comic-off"></i>
                                    <img src="https://oss.mkzcdn.com/comic/cover/20231019/6530a23275954-399x533.jpg!cover-400">
                                </a>
                                <div class="user-comic-item__detail">
                                    <p class="user-comic-item--name">
                                        <a class="text-overflow">@item.Name</a>
                                    </p>
                                    <p class="user-comic-item--text user-comic-item--latest">
                                        <a class="text-overflow--gray" href="/{{d[i].comic_id}}/{{d[i].chapter_id}}.html"
                                           target="_blank">@item.Description</a>
                                    </p>
                                    @* <p class="user-comic-item--text">
                            <a class="text-overflow--gray" href="/{{d[i].comic_id}}/{{d[i].read_chapter_id}}.html"
                            target="_blank">Đang đọc: Title của chapter</a>
                            </p> *@
                                </div>
                            </li>
                        }

                    }
                    else
                    {
                        <div class="no-collection"></div>
                    }
                </ul>
            </div>
            @*      <script id="user_collection_list" type="text/html">
            <ul class="user-comic-list">
            {{# layui.each(d, function(i, item){ }}
            <li class="user-comic-item" data-comic={{d[i].comic_id}}>
            <div class="j-item-select user-comic-item__select" data-comicid={{d[i].comic_id}} data-readtime={{d[i].read_time}} data-chapterid={{d[i].read_chapter_id}} data-pageid={{d[i].read_page_id}}>
            <i class="pic-select"></i>
            </div>
            <a class="user-comic-item__cover" href="/{{d[i].comic_id}}/" target="_blank">
            {{# if(d[i].is_update == 1 && d[i].status != 0) { }}
            <i class="pic-comic-update"></i>
            {{# } }}
            {{# if (d[i].status == 0) { }}
            <i class="pic-comic-off"></i>
            {{# } }}
            <img src="{{ d[i].comic_cover.replace('http:', 'https:') }}!cover-400">
            </a>
            <div class="user-comic-item__detail">
            <p class="user-comic-item--name">
            <a class="text-overflow" href="/{{d[i].comic_id}}/" target="_blank">{{d[i].comic_title}}</a>
            </p>
            <p class="user-comic-item--text user-comic-item--latest">
            <a class="text-overflow--gray" href="/{{d[i].comic_id}}/{{d[i].latest_chapter_id}}.html" target="_blank">更至：{{d[i].latest_chapter_title}}</a>
            </p>
            <p class="user-comic-item--text">
            <a class="text-overflow--gray" href="/{{d[i].comic_id}}/{{d[i].read_chapter_id}}.html" target="_blank">读至：{{d[i].read_chapter_title}}</a>
            </p>
            </div>
            </li>
            {{#  }); }}
            {{#  if(d.length === 0){ }}
            <div class="no-history"></div>
            {{#  } }}
            </ul>
            </script>
            *@
            <!-- pagination -->
            <div class="pagination--center" id="history-pagination"></div>
        </div>

    </div>

    @*  <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/vendor/base_lib.js?v=e631876"></script>
    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layer/layer.js?v=6e80f0c"></script>
    <script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/sd/nch5/index.js?t=2015052012"></script>
    <!-- 国内使用 阿里云 滑动验证 --><!-- 若您的主要用户来源于海外，请替换使用下面的js资源 -->
    <!-- <script type="text/javascript" charset="utf-8" src="//aeis.alicdn.com/sd/nch5/index.js?t=2015052012"></script> -->
    <!-- <script src="https://g.alicdn.com/AWSC/AWSC/awsc.js"></script> -->

    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/libs/layui/layui.js?v=3320191"></script>
    <script type="text/javascript" src="//static.mkzcdn.com/home/assets/script/page/user/history.js?v=7f36731"></script>
    <script>
    (function ()
    {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https')
    {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else
    {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
    })();
    </script>*@



</body>

</html>

@code {
    private List<StoryAccountGeneric> listReadedStory { get; set; }

    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            listReadedStory = await _storiesService.GetHistoryStoryRead();
            StateHasChanged();
        }
    }

    private void NavigateToDetails(Guid detailId)
    {
        NavigateToUrl($"/details/{detailId}");
    }
}
