@page "/chapter/{id}"
@using StoriesProject.Model.BaseEntity
@using StoriesProject.Services
@using StoriesProject.Shared.ComponentBase
@inject IStoriesService _storiesService;
@inherits AuthorBaseComponent
<html>

<head>
    <title>她来了，请趴下漫画 序章 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="她来了，请趴下,她来了，请趴下漫画,她来了，请趴下漫画最新章节">
    <meta name="description" content="她来了，请趴下漫画序章在线阅读，她来了，请趴下漫画全集在线阅读和她来了，请趴下漫画全集下载。">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon">
    <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico">

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/read.css?v=3ea9c3d">
    <link rel="stylesheet" href="https://static.mkzcdn.com/home/assets/script/libs/layer/theme/default/layer.css?v=3.1.1"
          id="layuicss-layer">
    <link rel="stylesheet"
          href="//static.mkzcdn.com/home/assets/script/libs/share/static/api/css/share_style0_16.css?v=6aba13f0.css">
</head>

<body class="p-read" data-feed="101" data-new-gr-c-s-check-loaded="14.1157.0" data-gr-ext-installed="">
    <div style="display:none;">
        <img src="https://static.mkzcdn.com/home/assets/images/common/app_logo.png">
    </div>
    <div class="read-container" data-type="1">
        <div class="read__header" style="top: 0px;">
            <div class="read__logo">
                <a href="/"><i class="iconfont icon-pic_read_nav_logo"></i></a>
            </div>
            <div class="read__crumb">
                <a href="/">Trang chủ</a>
                <span><i class="iconfont icon-ic_vip_switch_r"></i></span>
                <a class="crumb__title j-comic-title" @onclick="(() => NavigateToDetails())">@StoryName</a>
                <span><i class="iconfont icon-ic_vip_switch_r"></i></span>
                <h1 class="comic-title"><a class="last-crumb">@ChapterName</a></h1>
            </div>
            @* <div class="page-index__btn">
                <span class="j-pg-index">6</span>/<span class="count">19</span>
                <div class="page-index__list">
                    <div class="row">
                        <a class="page-list__item" href="javascript:void(0);">1</a><a class="page-list__item"
                                                                                      href="javascript:void(0);">2</a><a class="page-list__item" href="javascript:void(0);">3</a><a class="page-list__item" href="javascript:void(0);">4</a><a class="page-list__item"
                                                                                                                                                                                                                                               href="javascript:void(0);">5</a><a class="page-list__item active" href="javascript:void(0);">6</a><a class="page-list__item" href="javascript:void(0);">7</a><a class="page-list__item"
                                                                                                                                                                                                                                                                                                                                                                                                               href="javascript:void(0);">8</a><a class="page-list__item" href="javascript:void(0);">9</a><a class="page-list__item" href="javascript:void(0);">10</a>
                    </div>
                    <div class="row">
                        <a class="page-list__item active" href="javascript:void(0);">11</a><a class="page-list__item "
                                                                                              href="javascript:void(0);">12</a><a class="page-list__item " href="javascript:void(0);">13</a><a class="page-list__item " href="javascript:void(0);">14</a><a class="page-list__item "
                                                                                                                                                                                                                                                            href="javascript:void(0);">15</a><a class="page-list__item " href="javascript:void(0);">16</a><a class="page-list__item " href="javascript:void(0);">17</a><a class="page-list__item "
                                                                                                                                                                                                                                                                                                                                                                                                                          href="javascript:void(0);">18</a><a class="page-list__item " href="javascript:void(0);">19</a>
                    </div>
                </div>
            </div> *@
            <div class="in-header__user">
                <div class="j-header-avatar in-header__avatar fl">
                    <a href="/user/">
                        <img class="j-user-avatar"
                             src="https://oss.mkzcdn.com/default/member/avatar/10.png!avatar-100" alt="用户头像">
                    </a>
                    <div class="j-dialog-avatar dialog__header-avatar">
                        <div class="in-dialog--avatar">
                            <span class="triangle">
                                <i class="iconfont icon-ic_nav_toast_sj"></i>
                            </span>
                            <!-- 游客 -->
                            <div class="j-dialog-tourist row-1 hide">
                                <p class="base-info">
                                    <a class="j-user-name nickname" href="/login/">游客</a>
                                    <i class="vip-tag icon icon-vip-tag"></i>
                                    <a class="j-user-logout logout" href="/login/">登录领更多</a>
                                </p>
                                <p class="expire">VIP到期：<span class="j-user-vip-time">未开通</span></p>
                            </div>
                            <!-- 游客-end -->
                            <!-- 登录用户 -->
                            <div class="j-dialog-user row-1">
                                <p class="base-info">
                                    <a class="j-user-name nickname" href="/user/"></a>
                                    <i class="j-user-vip vip-tag icon-vip-tag"></i>
                                    <a class="j-user-logout logout" href="javascript:;">退出登录</a>
                                </p>
                                <p class="expire">VIP到期：<span class="j-user-vip-time">未开通</span></p>
                                <a class="j-agin-buy-vip hide buy-vip" href="javascript:;">续费VIP</a>
                                <a class="j-buy-vip hide buy-vip" href="javascript:;">购买VIP</a>
                            </div>
                            <!-- 登录用户-end -->
                            <div class="row-2">
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-yb"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        元宝<br>
                                        <span class="j-user-gold">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-jf"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        积分<br>
                                        <span class="j-user-integral">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-yp"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        月票<br>
                                        <span class="j-user-ticket">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-kq"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        阅读券<br>
                                        <span class="j-user-coupon">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rd-article-wr clearfix">
            <!-- 渲染章节图片 -->
            <div id="pages-tpl">
                @if (lstLinkImgContent != null && lstLinkImgContent.Count > 0)
                {
                    @for (int i = 0; i < lstLinkImgContent.Count; i++)
                    {
                        var currentItem = lstLinkImgContent[i];
                        <div class="rd-article__pic hide" style="display: block;">
                            <img class="lazy-read"
                                 src="@GetLinkImage(currentItem)"
                                 alt="9082254}" style="display: inline-block;">
                            <div class="rd-article__toast id"></div>
                        </div>
                    }
                }
            </div>

            <div class="rd-article__end hide" style="display: block;" @onclick="(() => NavigateToReadChapter(nextChapter))">
                <a class="btn--next-chapter j-rd-next">
                    <span class="txt">Chap tiếp theo</span>
                    <i class="iconfont icon-ic_read_next_icon"></i>
                </a>
            </div>
        </div>
        @* <div class="rd-aside">
            <div class="rd-aside__item j-rd-catalog">
                <i class="iconfont icon-ic_readtab_catalog"></i>
                <span class="txt">章节</span>
                <div class="aside__catalog">
                    <div class="catalog__head">
                        <p class="head-title">
                            <span class="fl">目录</span>
                            <span class="count fr">共19话</span>
                        </p>
                    </div>
                    <div class="catalog__list">
                        <div class="catalog__item id-901786" href="/215599/901786.html">
                            <span class="index">[1]</span> <span class="comic-title">序章</span>
                        </div>
                        <div class="catalog__item id-902532" href="/215599/902532.html">
                            <span class="index">[2]</span> <span class="comic-title">上线活动</span>
                        </div>
                        <div class="catalog__item id-901869" href="/215599/901869.html">
                            <span class="index">[3]</span> <span class="comic-title">第0话1 你好，渣男</span>
                        </div>
                        <div class="catalog__item id-1027133" href="/215599/1027133.html">
                            <span class="index">[376]</span> <span class="comic-title">第335话 翻身仗2</span> <i class="icon-rd-vip"></i>
                        </div>
                        <div class="catalog__item id-1027137" href="/215599/1027137.html">
                            <div class="first-read-mask-read">抢先看章节</div> <span class="index">[377]</span> <span class="comic-title">第336话 《流觞》上映1</span> <i class="lock iconfont"></i>
                        </div>
                        <div class="catalog__item id-1027138" href="/215599/1027138.html">
                            <div class="first-read-mask-read">抢先看章节</div> <span class="index">[378]</span> <span class="comic-title">第337话 《流觞》上映2</span> <i class="lock iconfont"></i>
                        </div>
                        <div class="catalog__item id-1033260" href="/215599/1033260.html">
                            <div class="first-read-mask-read">抢先看章节</div> <span class="index">[379]</span> <span class="comic-title">第338话 大冒险</span> <i class="lock iconfont"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rd-aside__item j-rd-collect">
                <i class="iconfont icon-ic_readtab_coll"></i>
                <span class="txt">收藏</span>
                <span class="txt-hl">已收藏</span>
            </div>
            <div class="rd-aside__item j-rd-share">
                <i class="iconfont icon-ic_readtab_share"></i>
                <span class="txt">分享</span>
                <div class="rd-share clearfix hide" id="bdshare" data-tag="share_1">
                    <div class="share-list clearfix bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1709406260629">
                        <a class="share-item qq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a class="share-item wx" data-cmd="weixin" title="分享到微信"></a>
                        <a class="share-item wb" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a class="share-item kj" data-cmd="qzone" title="分享到QQ空间"></a>
                    </div>
                    <div class="hover-block">
                        <span class="arrow-right"></span>
                    </div>
                </div>
            </div>
            <div class="rd-aside__item j-rd-mod disabled">
                <i class="iconfont"></i>
                <span class="txt">翻页</span>
            </div>
            <div class="rd-aside__item j-rd-light">
                <i class="iconfont icon-ic_readtab_light"></i>
                <span class="txt">开灯</span>
            </div>
            <a class="rd-aside__item j-rd-prev" style="visibility: hidden;">
                <i class="iconfont icon-ic_readtab_pre"></i>
                <span class="txt">上一话</span>
            </a>
            <a class="rd-aside__item j-rd-next" href="/215599/902532.html">
                <i class="iconfont icon-ic_readtab_next"></i>
                <span class="txt">下一话</span>
            </a>
        </div> *@
        <div class="rd-guess" style="left: 0px;">
            <div class="rd-guess__handle">
                <img class="rd-guess__pic hide" src="//static.mkzcdn.com/home/assets/images/home/pic_read_cnxh.png?v=f306952">
                <span>猜你喜欢</span>
                <i class="iconfont"></i>
            </div>
            <div class="rd-guess__comic-wr">
                @if (lstLinkImgContent != null && lstLinkImgContent.Count > 0)
                {
                    @for (int i = 0; i < lstLinkImgContent.Count; i++)
                    {
                        var currentItem = lstLinkImgContent[i];
                        <div class="rd-guess__comic">
                            <a class="cover">
                                <img src="@GetLinkImage(currentItem)">
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="rd-toast clearfix">
            <a class="btn--input-handle" href="javascript:void(0);">
                <i class="iconfont icon-ic_barrage_release"></i>
                <span class="txt">发弹幕</span>
            </a>
            <a class="btn--toast-handle" href="javascript:void(0);">
                <p class="tip hide">关闭弹幕</p>
                <i class="iconfont"></i>
            </a>
        </div>
        <div class="toast-dialog">
            <div class="wrapper">
                <div class="input-wrap">
                    <textarea class="toast-input" name="tucao" placeholder="主人，不发送一波弹幕跟咸鱼有什么区别呢？"></textarea>
                    <p class="word-count">
                        <span class="n">0</span>
                        <span>/</span>
                        <span class="max">30</span>
                    </p>
                </div>
                <div class="handles">
                    <span class="btn--cancel">取消</span>
                    <span class="btn--confirm">发布弹幕</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@code {
    [Parameter]
    public string Id { get; set; }
    private List<string> lstLinkImgContent { get; set; }
    private string StoryName { get; set; }
    private string ChapterName { get; set; }
    private Guid StoryId { get; set; }
    private List<Chapter> chapterList { get; set; }
    private Guid? nextChapter { get; set; } = null;
    private bool isLoadPage { get; set; } = false;

    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (!isLoadPage)
        {
            if (!string.IsNullOrEmpty(Id))
            {
                var chapterId = Guid.Parse(Id);
                var contentChapter = await _storiesService.GetContentChapter(chapterId);
                if (contentChapter != null)
                {
                    lstLinkImgContent = contentChapter.ImgLinkContent;
                    StoryName = contentChapter.StoryName;
                    ChapterName = contentChapter.ChapterName;
                    StoryId = contentChapter.StoryId;
                }
                chapterList = await _storiesService.GetAllChapterInfor(StoryId);
                var currentIndex = 0;
                nextChapter = null;
                for (int i = 0; i < chapterList.Count; i++)
                {
                    if (chapterList[i].Id == chapterId && chapterList.Count - 1 != i)
                    {
                        nextChapter = chapterList[i + 1].Id;
                        break;
                    }
                }
                StateHasChanged();

            }
            isLoadPage = true;
        }
    }

    private void NavigateToDetails()
    {
        NavigateToUrl($"/details/{StoryId}");
    }

    private void NavigateToReadChapter(Guid? chapterId = null)
    {
        if (chapterId != null)
        {
            isLoadPage = false;
            NavigateToUrl($"/chapter/{chapterId}");
        }
    }
}