@page "/admin/"
@using StoriesProject.Shared.ComponentBase;
@inherits AuthorBaseComponent
<body>
  <div class="wrapper">
    <AdminSidebar tab=0/>
    <div class="main" style="background-color: #f3f3f3;">
      <nav class="navbar navbar-expand px-4 py-3">
        <form action="#" class="d-none d-sm-inline-block">
        </form>
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                <img src="/account.png" class="avatar img-fluid" alt="">
              </a>
              <div class="dropdown-menu dropdown-menu-end rounded">
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <h3 class="fw-bold fs-4 mb-3">Admin Dashboard</h3>
            <div class="row">
              <div class="col-12 col-md-3 ">
                <div class="card border-0">
                  <div class="card-body py-4 config-card">
                    <div style="width: 80%;">
                      <h5 class="mb-2 fw-bold">
                        Lượt đăng ký mới
                      </h5>
                      <p class="mb-2 fw-bold title-config auto_increase" style="color: black;" data-val="24000"
                        data-label="người">
                      </p>
                      <span class="badge text-success me-2">
                        +9.0%
                      </span>
                    </div>
                    <div class="mb-0">
                      <i class="fa-solid fa-user icon-config" style="color: rgb(7, 113, 7); font-size: 50px;"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3 ">
                <div class="card border-0">
                  <div class="card-body py-4 config-card">
                    <div style="width: 80%;">
                      <h5 class="mb-2 fw-bold">
                        Số tác giả mới
                      </h5>
                      <p class="mb-2 fw-bold title-config auto_increase" style="color: black;" data-val="200"
                        data-label="người">
                      </p>
                      <span class="badge text-success me-2">
                        +9.0%
                      </span>
                    </div>
                    <div class="mb-0">
                      <i class="fa-solid fa-pen-nib icon-config" style="color: rgb(7, 113, 7); font-size: 50px;"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3 ">
                <div class="card border-0">
                  <div class="card-body py-4 config-card">
                    <div style="width: 80%;">
                      <h5 class="mb-2 fw-bold">
                        Số tác phẩm mới
                      </h5>
                      <p class="mb-2 fw-bold title-config auto_increase" style="color: black;" data-val="100"
                        data-label="cuốn">
                      </p>
                      <span class="badge text-success me-2">
                        +9.0%
                      </span>
                    </div>
                    <div class="mb-0">
                      <i class="fa-solid fa-book icon-config " style="color: rgb(7, 113, 7); font-size: 50px;"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3 ">
                <div class="card border-0">
                  <div class="card-body py-4 config-card">
                    <div style="width: 80%;">
                      <h5 class="mb-2 fw-bold">
                        Doanh thu tháng này
                      </h5>
                      <p class="mb-2 fw-bold title-config auto_increase" style="color: black;" data-val="15000000"
                        data-label="&nbsp;₫">
                      </p>
                      <span class="badge text-success me-2">
                        +9.0%
                      </span>
                    </div>
                    <div class="mb-0">
                      <i class="fa-solid fa-credit-card icon-config"
                        style="color: rgb(7, 113, 7); font-size: 55px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="fw-bold fs-4 my-3">
              Thống kê
            </h3>

            <div class="row">
              <div class="col-12 col-md-7">
                <canvas id="bar-chart" height="211px" style="background-color: white;border-radius: 5px;">

                </canvas>
              </div>
              <div class="col-12 col-md-5">
                <canvas id="doughnut-chart" height="250px" style="background-color: white;border-radius: 5px;"></canvas>
              </div>
            </div>

            <div class="row" style="margin-top: 50px;">
              <div class="col-12 col-md-12">
                <canvas id="line-chart" style="background-color: white;border-radius: 5px;">

                </canvas>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

</body>

@code {
    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InvokeVoidAsync("dashboard.startAutoIncrease");
            await InvokeVoidAsync("dashboard.chart_bar");
            await InvokeVoidAsync("dashboard.chart_doughnut");
            await InvokeVoidAsync("dashboard.chart_line");
        }
    }
}
