@page "/Admin/Order_Management"
@using StoriesProject.Shared.ComponentBase;
@inherits AuthorBaseComponent

<body>
    <div class="wrapper">
        <AdminSidebar tab=4/>
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-3">
                <form action="#" class="d-none d-sm-inline-block">
                </form>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="/account.png" class="avatar img-fluid" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end rounded">
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-5">Order Management</h3>
                        <div style="display: flex; justify-content: space-around; align-items: center;">
                            <div class="sumery-order" style="background-color: #236bde;">
                                <div class="sumery-order__left">
                                    <h2 class="username auto_increase" data-val="99000000"></h2>
                                    <h3 class="fs-5">Doanh thu</h3>
                                    <h3 class="fs-6 mt-2" style="font-style: italic;">*Tổng doanh thu tháng này</h3>
                                </div>
                                <div class="sumery-order__right">
                                    <div class="circle" style="background-color: #abc4eb;">
                                        <i class="fa-solid fa-money-bill" style="color: #236bde;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sumery-order" style="background-color: #d4a12a;">
                                <div class="sumery-order__left">
                                    <h2 class="username auto_increase" data-val="15000000"></h2>
                                    <h3 class="fs-5">Lợi nhuận</h3>
                                    <h3 class="fs-6 mt-2" style="font-style: italic;">*Sau thanh toán tác giả</h3>
                                </div>
                                <div class="sumery-order__right">
                                    <div class="circle" style="background-color: #e6d5ae;">
                                        <i class="fa-solid fa-coins" style="color: #d4a12a;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sumery-order" style="background-color: #de45d9;">
                                <div class="sumery-order__left">
                                    <h2 class="username auto_increase" data-val="2500"></h2>
                                    <h3 class="fs-5">Đã bán</h3>
                                    <h3 class="fs-6 mt-2" style="font-style: italic;">*Số truyện đã bán trong tháng này</h3>
                                </div>
                                <div class="sumery-order__right">
                                    <div class="circle" style="background-color: #f0c0ee;">
                                        <i class="fa-solid fa-book" style="color: #de45d9;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                       @*  <div style="display: flex;align-items: center;" class="list_config">
                            <strong>Thống kê theo: </strong>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px; margin-left: 10px;">
                                    All of time
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Theo tháng</a></li>
                                    <li><a class="dropdown-item" href="#">Theo tuần</a></li>
                                    <li><a class="dropdown-item" href="#">Theo năm</a></li>
                                    <li><a class="dropdown-item" href="#">All of time</a></li>
                                </ul>
                            </div>
                        </div> *@

                        <div class="mt-3 mb-3">
                            <strong>Tổng lượt mua: </strong>
                            100 lượt mua
                        </div>



                        <div class="table-responsive">
                            <table class="table table-hover custom-table" style="width: 95%;">
                                <caption>10/12 bản ghi</caption>
                                <thead>
                                <th scope="col" style="width: 5%;">#</th>
                                <th scope="col" style="width: 20%;">Tác phẩm</th>
                                <th scope="col" style="width: 10%;">Mã</th>
                                <th scope="col" style="width: 15%;">Tác giả</th>
                                <th scope="col" style="width: 15%;">Người mua</th>
                                <th scope="col" style="width: 10%;">Giá (vnd)</th>
                                <th scope="col" style="width: 10%;">Ngày mua</th>
                                </thead>
                                <tbody class="table-group-divider">
                                    <div class="show-comic__on-hover" id="showComicInfo">
                                        <div style="display: flex;">
                                            <img src="https://cdnnvd.com/nettruyen/thumb/ngay-toi-sinh-ra-bach-quy-da-hanh-tuyet-thi-ho-dao.jpg"
                                                 height="150px" />
                                            <div style="display: flex;flex-direction: column;margin-left: 10px;">
                                                <strong style="font-size: 16px;">Tên truyện</strong>
                                                <p style="font-size: 13px;">Ngày tôi sinh ra, bạch quỷ đã hành tuyết thị hồ đao</p>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Tác phẩm 1</td>
                                        <td>MSL134</td>
                                        <td>Tác giả 1 </td>
                                        <td>Khách hàng 1 </td>
                                        <td>200,000</td>
                                        <td>20/12/2023</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Tác phẩm 2</td>
                                        <td>MSL134</td>
                                        <td>Tác giả 2 </td>
                                        <td>Khách hàng 2 </td>
                                        <td>200,000</td>
                                        <td>20/12/2023</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Tác phẩm 3</td>
                                        <td>MSL134</td>
                                        <td>Tác giả 3 </td>
                                        <td>Khách hàng 3 </td>
                                        <td>200,000</td>
                                        <td>20/12/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

@code {
    protected override async Task HandleAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InvokeVoidAsync("registerMouseEvents");
            await InvokeVoidAsync("autoIncrease.startAutoIncrease");
        }
    }
}
