@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #f5f5f5;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    background-color: #07669e;
    display: flex;
    flex-direction: column;
}

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #fff;
    }

.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo a {
        color: #fff;
        font-size: 1.15rem;
        font-weight: 600;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

    a.sidebar-link.active {
        background-color: #36a2eb;
        border-left: 3px solid transparent;
    }

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

@media (min-width: 768px) {
}

.user-profile {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    background-color: #eaeae1;
    margin-bottom: 20px;
}

.avatar_config img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    flex: 1;
}

.username {
    margin-top: 0;
    font-size: 24px;
}

.details p {
    margin: 5px 0;
}

    .details p strong {
        font-weight: bold;
    }

.custom-table th,
.custom-table td {
    max-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.show-comic__on-hover {
    display: none;
    position: absolute;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sumery-order {
    display: flex;
    /* align-items: center; */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: auto;
    margin-bottom: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    width: 400px;
}

.sumery-order__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 80%;
}

.sumery-order__right {
    position: relative;
    width: 10%;
}

.circle {
    position: absolute; /* Đặt vị trí tuyệt đối để hình tròn sẽ căn chỉnh đối với phần tử cha */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* top: 80%; */
    /* transform: translateY(
    -50%
  ); */
    right: 0; /* Đặt hình tròn ở bên phải của phần tử cha */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .circle i {
        font-size: 24px;
    }

/* .table-responsive {
  overflow-x: auto;
} */
.config-card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgb(7, 113, 7);
    justify-content: space-between;
    padding: 15px;
}

.mb-0 .fa-user {
    font-size: 50px;
    margin-right: 10px;
    color: rgb(7, 113, 7);
}

.config-card:hover {
    background-color: rgb(7, 113, 7);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}

    .config-card:hover .icon-config {
        color: white !important; /* Increase specificity and ensure the color change */
    }

    .config-card:hover .title-config {
        color: white !important;
    }
